<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFragment</key>
	<string>layoutSlash</string>
	<key>layerFormat</key>
	<string>basicIntegration</string>
	<key>subpixelperplatform</key>
	<string>shouldYieldController</string>
	<key>unbindcatalyst</key>
	<string>dependencyAppearance</string>
</dict>
</plist>
