<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatehash</key>
	<string>momentumOffset</string>
	<key>capsulehue</key>
	<string>completermementospacing</string>
	<key>enabledtime</key>
	<string>axisVisibility</string>
	<key>haschannels</key>
	<string>delegateposition</string>
	<key>independentbuilderscale</key>
	<string>shouldPresentInteger</string>
	<key>primaryAxis</key>
	<string>publishMaterial</string>
	<key>secondTaxonomy</key>
	<string>dynamicProtocol</string>
	<key>sharedReduction</key>
	<string>hassample</string>
	<key>shouldSerializeAspect</key>
	<string>activeHash</string>
	<key>textfieldexceptstrategy</key>
	<string>baseshade</string>
</dict>
</plist>
