<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardatpattern</key>
	<string>createNode</string>
	<key>containerHue</key>
	<string>painterContrast</string>
	<key>directlycontroller</key>
	<string>dissociateGrain</string>
	<key>disabledGradient</key>
	<string>seamlessSkin</string>
	<key>discardedAperture</key>
	<string>shouldFinishGrayscale</string>
	<key>disparateProvider</key>
	<string>independentCluster</string>
	<key>exponentbystyle</key>
	<string>directColumn</string>
	<key>firstTextField</key>
	<string>lazyScale</string>
	<key>relationalProjection</key>
	<string>canDisposeBloc</string>
	<key>shouldProcessMusic</key>
	<string>challengeSpacing</string>
</dict>
</plist>
