<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directFrame</key>
	<string>elasticquaternion</string>
	<key>matrixright</key>
	<string>subtleCoordinator</string>
	<key>signatureHue</key>
	<string>validateFuture</string>
</dict>
</plist>
