<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containeragainstoperation</key>
	<string>unscheduleTransformer</string>
	<key>deferredstoryboardinterval</key>
	<string>canHandleChallenge</string>
	<key>dispatchmediaquery</key>
	<string>dedicatedConstraint</string>
	<key>eagerscaffold</key>
	<string>shouldEncodeScreen</string>
	<key>hyperbolicTool</key>
	<string>euclideanProject</string>
	<key>largeviewskewx</key>
	<string>handleranimation</string>
	<key>lostEvent</key>
	<string>createconvolution</string>
	<key>publicMaterializer</key>
	<string>descriptorFeedback</string>
	<key>shouldKeepCatalyst</key>
	<string>polygonFlags</string>
	<key>threadDirection</key>
	<string>streamMember</string>
</dict>
</plist>
