<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>componentRight</key>
	<string>enumerateSubscription</string>
	<key>cupertinoCursor</key>
	<string>priorAnimatedContainer</string>
	<key>equalizationAcceleration</key>
	<string>immutableUsage</string>
	<key>iswidget</key>
	<string>permanentTask</string>
	<key>progressbarBorder</key>
	<string>prevLog</string>
	<key>requiredDisclaimer</key>
	<string>similarSession</string>
	<key>significantCharacter</key>
	<string>equipmentShape</string>
	<key>sophisticatedsubpixelbound</key>
	<string>convolutionBridge</string>
	<key>tensorGram</key>
	<string>shouldformatchecklist</string>
</dict>
</plist>
