<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultConvolution</key>
	<string>creatorCount</string>
	<key>difficultRow</key>
	<string>concreteTrajectory</string>
	<key>disparateCluster</key>
	<string>concurrentAnimatedContainer</string>
	<key>inheritedLabel</key>
	<string>restartBrush</string>
	<key>routerleft</key>
	<string>comprehensiveSelector</string>
	<key>scrollablehashright</key>
	<string>spritestructuresaturation</string>
	<key>seguevisibility</key>
	<string>upgradeSingleton</string>
	<key>shouldInflateCheckbox</key>
	<string>sequentialNib</string>
	<key>stringifychapter</key>
	<string>canKeepNib</string>
	<key>tappableFormat</key>
	<string>dropoutUseCase</string>
</dict>
</plist>
