<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationscene</key>
	<string>oldCapsule</string>
	<key>formatType</key>
	<string>shouldInflateBitrate</string>
	<key>keyUnary</key>
	<string>canLoadPriority</string>
	<key>mountedawait</key>
	<string>signdistance</string>
	<key>scrollableReference</key>
	<string>shouldListenGem</string>
	<key>shouldPrepareBloc</key>
	<string>streamtopic</string>
	<key>stopbuilder</key>
	<string>associateSingleton</string>
	<key>typicalRouter</key>
	<string>gridStatus</string>
</dict>
</plist>
