<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGrain</key>
	<string>canTransformBorder</string>
	<key>draggableConvolution</key>
	<string>attachGroup</string>
	<key>robustRecursion</key>
	<string>equalizationKind</string>
	<key>shouldRenderSignature</key>
	<string>gramTier</string>
	<key>wrapperValidation</key>
	<string>buttonMomentum</string>
</dict>
</plist>
