<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedCombiner</key>
	<string>loadPositioned</string>
	<key>nativemissionpressure</key>
	<string>instructiontiercolor</string>
	<key>promiseDelay</key>
	<string>canDismissHero</string>
	<key>synchronousElement</key>
	<string>graphicBottom</string>
</dict>
</plist>
