<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAcceleration</key>
	<string>allocatorSpeed</string>
	<key>concreteExpanded</key>
	<string>callbackSystem</string>
	<key>eagerPromise</key>
	<string>interactiveMatrix</string>
	<key>mendInterval</key>
	<string>subscriptionBuffer</string>
	<key>reducechapter</key>
	<string>localExtension</string>
	<key>sophisticatedModule</key>
	<string>listviewPattern</string>
	<key>specifyRouter</key>
	<string>trianglesopacity</string>
	<key>tickerFlags</key>
	<string>mediaqueryparameteropacity</string>
</dict>
</plist>
