<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBinary</key>
	<string>subsequentAscent</string>
	<key>actionopacity</key>
	<string>permanentbutton</string>
	<key>componentTint</key>
	<string>denseCubit</string>
	<key>invisiblePositioned</key>
	<string>restartloss</string>
	<key>lastNotation</key>
	<string>renderStack</string>
	<key>spotprocessor</key>
	<string>connectgate</string>
</dict>
</plist>
