<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonCapacities</key>
	<string>effectContrast</string>
	<key>intuitivebloc</key>
	<string>handleState</string>
	<key>manageratstructure</key>
	<string>directlyUsage</string>
	<key>materialResource</key>
	<string>shouldPresentExponent</string>
	<key>permissiveEvaluation</key>
	<string>unscheduleResolver</string>
	<key>reduceruntilstructure</key>
	<string>dependencyContrast</string>
	<key>robustConsumption</key>
	<string>viewtraversal</string>
	<key>scalehead</key>
	<string>comprehensiveRange</string>
	<key>singleEntropy</key>
	<string>declarativeItem</string>
</dict>
</plist>
