<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleVideo</key>
	<string>statelessForm</string>
	<key>buttonCoord</key>
	<string>specifyTriangles</string>
	<key>displayableCallback</key>
	<string>metadataatshape</string>
	<key>elasticityDuration</key>
	<string>canNavigatePainter</string>
	<key>elementContrast</key>
	<string>gemDecorator</string>
	<key>intuitiveProvider</key>
	<string>specifyplaybackcoord</string>
	<key>pointtexture</key>
	<string>hyperbolicLoader</string>
	<key>scaleanalyzer</key>
	<string>relationalPolygon</string>
	<key>tappablemobile</key>
	<string>updatedescriptor</string>
</dict>
</plist>
