<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustdecoration</key>
	<string>taskevaluation</string>
	<key>comprehensivelayoutsize</key>
	<string>canCreateCurve</string>
	<key>flexTag</key>
	<string>semanticMusic</string>
	<key>resolversingletonorigin</key>
	<string>resolverTemple</string>
	<key>shouldDetachScale</key>
	<string>shouldstreamsession</string>
	<key>shouldSkipMaster</key>
	<string>contractionValidation</string>
</dict>
</plist>
