<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedState</key>
	<string>staticCollection</string>
	<key>layoutbottom</key>
	<string>shouldCacheBaseline</string>
	<key>offsetdelay</key>
	<string>explicitDecoration</string>
	<key>shouldReplaceStack</key>
	<string>defaultthread</string>
	<key>sophisticatedLogarithm</key>
	<string>materialprovision</string>
</dict>
</plist>
