<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateNorm</key>
	<string>notifyChecklist</string>
	<key>keepnavigator</key>
	<string>independentSize</string>
	<key>notationRotation</key>
	<string>equalizationLeft</string>
	<key>significantTabBar</key>
	<string>delegateParam</string>
	<key>unmountedcharacter</key>
	<string>opaquerectangle</string>
</dict>
</plist>
