<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deserializecompletion</key>
	<string>shouldStreamStamp</string>
	<key>ignoredThroughput</key>
	<string>notifyNavigation</string>
	<key>protectedCompletion</key>
	<string>buttonMemento</string>
	<key>textfieldOffset</key>
	<string>overlayproxyvisibility</string>
</dict>
</plist>
