<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultMenu</key>
	<string>splitterRight</string>
	<key>difficultOption</key>
	<string>benchmarkFuture</string>
	<key>dynamicAlpha</key>
	<string>animationvisitorkind</string>
	<key>enabledAwait</key>
	<string>significantCompleter</string>
	<key>shouldYieldIcon</key>
	<string>inflateChecklist</string>
	<key>spotvalueindex</key>
	<string>opaquescope</string>
	<key>thresholdScale</key>
	<string>refreshPopup</string>
</dict>
</plist>
