<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodemodal</key>
	<string>mutableResilience</string>
	<key>directlyContraction</key>
	<string>shouldEncodeBoxShadow</string>
	<key>elasticStatus</key>
	<string>deserializeScale</string>
	<key>ephemeralSignature</key>
	<string>accordionTraversal</string>
	<key>wrapperTop</key>
	<string>shouldUnmountedOverlay</string>
</dict>
</plist>
