<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDistinction</key>
	<string>shouldDeserializeController</string>
	<key>bandwidthtype</key>
	<string>immutableWidget</string>
	<key>basicOperation</key>
	<string>indicatorOrigin</string>
	<key>mutableDisclaimer</key>
	<string>opaquesliderskewx</string>
	<key>prepareinitiators</key>
	<string>lossFlags</string>
	<key>shouldEncodeSubpixel</key>
	<string>streamCommand</string>
	<key>shouldRenderNavigator</key>
	<string>canPopImage</string>
	<key>sineprocessor</key>
	<string>configurationbycomposite</string>
	<key>sortedShader</key>
	<string>deserializeVector</string>
	<key>tensorNavigator</key>
	<string>reusableNavigator</string>
</dict>
</plist>
