<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardService</key>
	<string>emitMission</string>
	<key>scrollabledrawer</key>
	<string>numericalAscent</string>
	<key>subtleBehavior</key>
	<string>offsetconstraint</string>
</dict>
</plist>
