<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatConsumer</key>
	<string>zoneContext</string>
	<key>kernelinterface</key>
	<string>currentspecifier</string>
	<key>momentumcolor</key>
	<string>actioncontrast</string>
	<key>substantialscaffold</key>
	<string>stateCount</string>
	<key>yieldcosine</key>
	<string>shouldEndTransition</string>
</dict>
</plist>
