<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelflyweightrate</key>
	<string>requestProxy</string>
	<key>hardGrayscale</key>
	<string>integrityTheme</string>
	<key>ignoredComposition</key>
	<string>profileTexture</string>
	<key>offsettempleshape</key>
	<string>positionresilience</string>
	<key>resultpatternresponse</key>
	<string>shouldDecodeAccessory</string>
	<key>sequentialMechanism</key>
	<string>flexibleGesture</string>
	<key>shouldPrepareObserver</key>
	<string>sharedMethod</string>
	<key>shouldProcessInkWell</key>
	<string>localizationSaturation</string>
	<key>statusbound</key>
	<string>taskStructure</string>
	<key>transitionscope</key>
	<string>permissiveSingleton</string>
</dict>
</plist>
