<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterdecoratortension</key>
	<string>textAppearance</string>
	<key>customizedscene</key>
	<string>diversifiedClipper</string>
	<key>greatContraction</key>
	<string>numericalState</string>
	<key>mitigatesensor</key>
	<string>descriptionforpattern</string>
	<key>reactiveClipper</key>
	<string>staticSpecifier</string>
	<key>smartContraction</key>
	<string>refreshStore</string>
	<key>subtleLayer</key>
	<string>opaquepainter</string>
</dict>
</plist>
