<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentbutton</key>
	<string>transformerState</string>
	<key>dependencyFeedback</key>
	<string>shouldKeepMaterial</string>
	<key>dropdownbuttonwidget</key>
	<string>mergerTint</string>
	<key>futuremementoalignment</key>
	<string>largeLoss</string>
	<key>keyLinker</key>
	<string>prismaticAspect</string>
	<key>prismaticTitle</key>
	<string>cartesianIntegrity</string>
	<key>protectedAudio</key>
	<string>canHandleContainer</string>
	<key>shouldInflateVariant</key>
	<string>materializervisibility</string>
	<key>shouldUpdateExponent</key>
	<string>resultHue</string>
</dict>
</plist>
