<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveImpression</key>
	<string>cupertinoScale</string>
	<key>aperturechainrate</key>
	<string>shouldEncodeProjection</string>
	<key>chooserResponse</key>
	<string>textplatformoffset</string>
	<key>hyperbolicCycle</key>
	<string>singletonstyleedge</string>
	<key>mediumTaxonomy</key>
	<string>nextMaterializer</string>
	<key>nativeroutedepth</key>
	<string>shouldlistentool</string>
	<key>opaqueRenderer</key>
	<string>shouldAnimateResource</string>
	<key>promisebridgeinterval</key>
	<string>canMountMomentum</string>
</dict>
</plist>
