<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopconsumer</key>
	<string>singletonTransparency</string>
	<key>diffableFrame</key>
	<string>nativeStamp</string>
	<key>dispatcherState</key>
	<string>channelsdependency</string>
	<key>gemfacadecolor</key>
	<string>pendingSegment</string>
	<key>iterativehistogram</key>
	<string>endsize</string>
	<key>loadcollection</key>
	<string>explicitAscent</string>
	<key>retainedItem</key>
	<string>subtlePolyfill</string>
	<key>shouldNavigateFuture</key>
	<string>popupInset</string>
	<key>tabbaruntilchain</key>
	<string>serializeSwift</string>
</dict>
</plist>
