<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateStyle</key>
	<string>grayscaleMediator</string>
	<key>seamlessTime</key>
	<string>globalStateless</string>
	<key>streamBehavior</key>
	<string>scrollFramework</string>
</dict>
</plist>
