<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectqueue</key>
	<string>stampShade</string>
	<key>chartHue</key>
	<string>recursionName</string>
	<key>coordinatorOrigin</key>
	<string>shoulddismissappbar</string>
	<key>numericalBuffer</key>
	<string>observetimer</string>
	<key>promisecompositeskewx</key>
	<string>localhash</string>
	<key>retainedComponent</key>
	<string>endinjection</string>
</dict>
</plist>
