<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitleft</key>
	<string>canAttachTangent</string>
	<key>capturemission</key>
	<string>shouldBindPlate</string>
	<key>grainflags</key>
	<string>interactiveinitiatorsedge</string>
	<key>gridviewrestriction</key>
	<string>shouldFetchAccessory</string>
	<key>immutableModule</key>
	<string>shouldValidatePromise</string>
	<key>reducertint</key>
	<string>presentBinary</string>
	<key>relationalGesture</key>
	<string>loopdetail</string>
	<key>segueInteraction</key>
	<string>decorationColor</string>
	<key>tangentTint</key>
	<string>layoutBorder</string>
	<key>usedMethod</key>
	<string>operationFrequency</string>
</dict>
</plist>
