<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAnimatedContainer</key>
	<string>newestSink</string>
	<key>giftCoord</key>
	<string>advancedGift</string>
	<key>memberstrategyrotation</key>
	<string>initiativeHead</string>
	<key>parseinteractor</key>
	<string>processGestureDetector</string>
	<key>pointcoord</key>
	<string>subtleGradient</string>
	<key>prismaticUnary</key>
	<string>gestureTask</string>
	<key>providerSkewY</key>
	<string>secondSpot</string>
	<key>retainedLoop</key>
	<string>interpolationContext</string>
	<key>shouldKeepPositioned</key>
	<string>sequentialChannel</string>
	<key>threadBottom</key>
	<string>shouldTrainInstruction</string>
</dict>
</plist>
