<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerShade</key>
	<string>mobileBound</string>
	<key>diversifiedScene</key>
	<string>itemFeedback</string>
	<key>reflectobserver</key>
	<string>substantialNavigation</string>
	<key>servicebymediator</key>
	<string>singleicon</string>
	<key>shouldContinueMap</key>
	<string>tappableSession</string>
	<key>shouldTransformBorder</key>
	<string>disconnectImage</string>
	<key>significantComposition</key>
	<string>canBindMusic</string>
</dict>
</plist>
