<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorbeyondoperation</key>
	<string>immediateReduction</string>
	<key>concurrentStateless</key>
	<string>listenDescription</string>
	<key>giftjobduration</key>
	<string>draggableSizedBox</string>
	<key>isVariant</key>
	<string>navigatorwithoutfacade</string>
	<key>nativeBinary</key>
	<string>traversalMargin</string>
</dict>
</plist>
