<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularPoint</key>
	<string>inflateComposition</string>
	<key>immutablecollectionpressure</key>
	<string>catalystScope</string>
	<key>materialvelocity</key>
	<string>lazyTouch</string>
	<key>spinetentative</key>
	<string>keySplitter</string>
	<key>substantialCharacter</key>
	<string>priorityfeedback</string>
	<key>textureState</key>
	<string>materialChain</string>
</dict>
</plist>
