<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferState</key>
	<string>ephemeralSubscription</string>
	<key>dropdownbuttonFrequency</key>
	<string>shouldMountPadding</string>
	<key>semanticFragments</key>
	<string>featuremementoflags</string>
	<key>shouldNavigateUnary</key>
	<string>utilVar</string>
</dict>
</plist>
