<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventOrigin</key>
	<string>asyncBehavior</string>
	<key>optimizeprovider</key>
	<string>cloneMenu</string>
	<key>progressbarcommanddensity</key>
	<string>shouldObserveGridView</string>
	<key>specifylayer</key>
	<string>quaternionshade</string>
	<key>taxonomyTension</key>
	<string>concreteInitiators</string>
	<key>vectorBrightness</key>
	<string>modulusActivity</string>
</dict>
</plist>
