<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiestint</key>
	<string>sophisticatedDispatcher</string>
	<key>concreteAperture</key>
	<string>delicatenode</string>
	<key>shouldobservescaffold</key>
	<string>errorForce</string>
	<key>sustainableSkirt</key>
	<string>anchorValidation</string>
</dict>
</plist>
