<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultcell</key>
	<string>backwardSession</string>
	<key>disparateDisclaimer</key>
	<string>shouldNavigateOption</string>
	<key>precisionCoord</key>
	<string>handleMomentum</string>
	<key>switchcompositevalidation</key>
	<string>deferredProgressBar</string>
</dict>
</plist>
