<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionChallenge</key>
	<string>executeText</string>
	<key>allocatorDirection</key>
	<string>chartresponse</string>
	<key>descriptionorscope</key>
	<string>projectionNumber</string>
	<key>easyThread</key>
	<string>loadbutton</string>
	<key>mediumTouch</key>
	<string>retainedAppBar</string>
	<key>occasioncoord</key>
	<string>liteProtocol</string>
	<key>resultreducer</key>
	<string>utilVariable</string>
	<key>storemodeforce</key>
	<string>canRestartGesture</string>
	<key>usedProvision</key>
	<string>canUnbindChecklist</string>
	<key>wrapperHead</key>
	<string>similarMechanism</string>
</dict>
</plist>
