<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationright</key>
	<string>optionMemento</string>
	<key>evaluationDelay</key>
	<string>directlyMesh</string>
	<key>independentCustomPaint</key>
	<string>crudeTexture</string>
	<key>relationalMaster</key>
	<string>concatenateLayer</string>
	<key>responsiveSpot</key>
	<string>delicateSearcher</string>
	<key>shouldDecodeMargin</key>
	<string>subscriptionprototypeborder</string>
	<key>shouldEmitSegment</key>
	<string>histogramState</string>
	<key>shouldPresentInitiators</key>
	<string>semanticChapter</string>
	<key>ternaryduringparameter</key>
	<string>transitiontype</string>
</dict>
</plist>
