<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionthroughcycle</key>
	<string>traversalBound</string>
	<key>diversifiedMechanism</key>
	<string>canStreamSymbol</string>
	<key>euclideanTweak</key>
	<string>geometricAppBar</string>
	<key>restrictionAcceleration</key>
	<string>trajectoryBehavior</string>
</dict>
</plist>
