<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteVariant</key>
	<string>stringifyoption</string>
	<key>connectorFlags</key>
	<string>propagateGroup</string>
	<key>consultativeFormat</key>
	<string>popMetadata</string>
	<key>denseUseCase</key>
	<string>smallProjection</string>
	<key>formatfeature</key>
	<string>relationalButton</string>
	<key>matrixBound</key>
	<string>relationalFinder</string>
	<key>shouldLayoutInitiators</key>
	<string>canFinishShader</string>
	<key>shouldStreamStamp</key>
	<string>cyclecoord</string>
	<key>significantrow</key>
	<string>timedepth</string>
	<key>sinelatency</key>
	<string>canStreamEntropy</string>
</dict>
</plist>
