<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivetechnique</key>
	<string>findZone</string>
	<key>managerplatformtint</key>
	<string>instructioncontroller</string>
	<key>materialUnary</key>
	<string>immediateTweak</string>
	<key>operationInset</key>
	<string>matrixbehavior</string>
	<key>significantScene</key>
	<string>shouldMountedColumn</string>
	<key>threadimage</key>
	<string>temporaryInformation</string>
</dict>
</plist>
