<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicGraphic</key>
	<string>haslogarithm</string>
	<key>gateenvironmentcontrast</key>
	<string>pushMusic</string>
	<key>inactiveSprite</key>
	<string>featureascontext</string>
	<key>injectionjobformat</key>
	<string>inflatespot</string>
	<key>mediumAnalyzer</key>
	<string>calculateroute</string>
	<key>oldProject</key>
	<string>retainedVideo</string>
	<key>sensorSize</key>
	<string>opaqueTrajectory</string>
	<key>singlerange</key>
	<string>processorCoord</string>
	<key>smartvariant</key>
	<string>statelessincludeplatform</string>
</dict>
</plist>
