<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeReference</key>
	<string>shouldTransformPositioned</string>
	<key>hashMomentum</key>
	<string>awaitandflyweight</string>
	<key>immutableskinopacity</key>
	<string>canInitializeSample</string>
	<key>iterativeEntity</key>
	<string>aspectKind</string>
	<key>liteGift</key>
	<string>activatedmanager</string>
	<key>symmetricProjection</key>
	<string>introspectbuilder</string>
	<key>uniqueException</key>
	<string>scrollableLocalization</string>
</dict>
</plist>
