<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVariant</key>
	<string>shouldConnectRoute</string>
	<key>futurelevelbehavior</key>
	<string>capsuleAlignment</string>
	<key>hierarchicalsample</key>
	<string>disconnectProtocol</string>
	<key>shouldDeserializeLayout</key>
	<string>timerAcceleration</string>
	<key>shouldPauseTextField</key>
	<string>giftparticle</string>
	<key>statelessImage</key>
	<string>fusedSizedBox</string>
	<key>strengthBottom</key>
	<string>replaceDuration</string>
</dict>
</plist>
