<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumeritem</key>
	<string>shouldListenWorkflow</string>
	<key>disparateresponse</key>
	<string>transformOptimizer</string>
	<key>materialColumn</key>
	<string>tabbarIndex</string>
	<key>shouldAttachVariant</key>
	<string>loadcaption</string>
	<key>sophisticatedTrigger</key>
	<string>unsortedVector</string>
	<key>tableType</key>
	<string>rendererOrigin</string>
</dict>
</plist>
