<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>opaqueGradient</key>
	<string>hyperbolicImpact</string>
	<key>receiverBound</key>
	<string>multiplicationproxyinteraction</string>
	<key>shouldShowProfile</key>
	<string>criticalRect</string>
	<key>subtleSession</key>
	<string>nibFacade</string>
</dict>
</plist>
