<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerdecoratoralignment</key>
	<string>maintainResolver</string>
	<key>euclideanprotocolresponse</key>
	<string>rendererSize</string>
	<key>mediumTheme</key>
	<string>canSubscribeRadio</string>
	<key>processorBrightness</key>
	<string>subtleQuaternion</string>
	<key>resourceName</key>
	<string>detailCoord</string>
	<key>searcherCoord</key>
	<string>smartContainer</string>
	<key>unaryinsidefunction</key>
	<string>streamexceptdecorator</string>
	<key>usedGridView</key>
	<string>swiftCommand</string>
	<key>viewincludeprocess</key>
	<string>unschedulepromise</string>
</dict>
</plist>
