<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatorpicker</key>
	<string>requestSkewX</string>
	<key>inheritedCosine</key>
	<string>sophisticatedSkin</string>
	<key>priorScreen</key>
	<string>shouldpresentcupertino</string>
	<key>specifyInformation</key>
	<string>transformCursor</string>
	<key>unsortedTimeline</key>
	<string>densetaskbehavior</string>
</dict>
</plist>
