<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBloc</key>
	<string>hierarchicalFactory</string>
	<key>agileAmortization</key>
	<string>publicSymbol</string>
	<key>alphaDirection</key>
	<string>composableAsset</string>
	<key>distinctionBound</key>
	<string>observerLocation</string>
	<key>invisiblePresenter</key>
	<string>quitException</string>
	<key>isPoint</key>
	<string>cupertinocosinevalidation</string>
	<key>loopadapterpressure</key>
	<string>subsequentTable</string>
	<key>shouldAttachResource</key>
	<string>collectionFormat</string>
	<key>uniformAnalogy</key>
	<string>imperativeData</string>
	<key>webTimer</key>
	<string>resourceStrategy</string>
</dict>
</plist>
