<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFlags</key>
	<string>diffableFinder</string>
	<key>buttonKind</key>
	<string>featurevalidation</string>
	<key>concurrentSubscriber</key>
	<string>notificationInset</string>
	<key>cursorforce</key>
	<string>canFinishBehavior</string>
	<key>hierarchicalEffect</key>
	<string>minOverlay</string>
	<key>infoTag</key>
	<string>contrastSpeed</string>
	<key>parallelTimeline</key>
	<string>asynchronousswitchvisibility</string>
	<key>sizedboxstate</key>
	<string>disposeCompletion</string>
	<key>triggerDepth</key>
	<string>scaleVelocity</string>
	<key>unsortedExtension</key>
	<string>arithmeticUnary</string>
</dict>
</plist>
