<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSearcher</key>
	<string>amortizationMomentum</string>
	<key>labelIndex</key>
	<string>relationalPopup</string>
	<key>marginlocalization</key>
	<string>dialogsInset</string>
	<key>navigatormapper</key>
	<string>trianglesFeedback</string>
	<key>semanticCapsule</key>
	<string>shouldBuildUsage</string>
	<key>significantAppBar</key>
	<string>difficultstatelessindex</string>
	<key>unactivatedEfficiency</key>
	<string>zonepatterntype</string>
</dict>
</plist>
