<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedEntropy</key>
	<string>pauseCaption</string>
	<key>coordinatorinteraction</key>
	<string>immediateMaterializer</string>
	<key>frameTag</key>
	<string>enabledUseCase</string>
	<key>immutableVector</key>
	<string>displayableElement</string>
	<key>navigatealignment</key>
	<string>canPopCharacter</string>
</dict>
</plist>
