<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticResponse</key>
	<string>uniformMediaQuery</string>
	<key>difficultFormat</key>
	<string>alignmentTension</string>
	<key>functionalRadius</key>
	<string>taxonomyName</string>
	<key>hashacceleration</key>
	<string>observersorter</string>
	<key>responsiveextension</key>
	<string>canTransitionCatalyst</string>
</dict>
</plist>
