<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralView</key>
	<string>shouldpersistprotocol</string>
	<key>intermediateNorm</key>
	<string>subtleException</string>
	<key>momentumevent</key>
	<string>metricsBound</string>
	<key>normalRectangle</key>
	<string>shouldPrepareGrayscale</string>
	<key>otherProvision</key>
	<string>streamTransition</string>
	<key>priorCaption</key>
	<string>mendBound</string>
	<key>shouldAttachInitiators</key>
	<string>beginnerAspectRatio</string>
	<key>shouldPresentNavigator</key>
	<string>integerInterval</string>
	<key>shouldProcessChannels</key>
	<string>completedSign</string>
	<key>subtleElement</key>
	<string>canPrepareAnimation</string>
</dict>
</plist>
