<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTension</key>
	<string>enabledEquipment</string>
	<key>cachetop</key>
	<string>binaryVelocity</string>
	<key>clusterEdge</key>
	<string>sortedSchema</string>
	<key>dynamicService</key>
	<string>sliderPhase</string>
	<key>finderskewx</key>
	<string>factoryInset</string>
	<key>prevWidget</key>
	<string>subpixelPrototype</string>
	<key>restrictionTint</key>
	<string>differentiatecapacities</string>
	<key>similarBullet</key>
	<string>dialogsDensity</string>
</dict>
</plist>
