<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticGraphic</key>
	<string>prevRect</string>
	<key>geometricCatalyst</key>
	<string>graphicstylepressure</string>
	<key>radiusOrigin</key>
	<string>updateRadio</string>
	<key>responsivelabel</key>
	<string>futurenearphase</string>
	<key>titleoffacade</key>
	<string>scaffoldbinder</string>
</dict>
</plist>
