<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticImpact</key>
	<string>transformOperation</string>
	<key>extensionInterval</key>
	<string>canFetchSkirt</string>
	<key>lastInitiative</key>
	<string>shouldConnectTable</string>
	<key>observertypevalidation</key>
	<string>pagerAppearance</string>
	<key>rapidlayout</key>
	<string>documentFunction</string>
	<key>uniformPopup</key>
	<string>uniqueCertificate</string>
	<key>usedTicker</key>
	<string>boxamongvariable</string>
</dict>
</plist>
