<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerType</key>
	<string>responsivePager</string>
	<key>bulletevent</key>
	<string>subscriptionMargin</string>
	<key>crucialFilter</key>
	<string>repositoryfrequency</string>
	<key>functionalBinary</key>
	<string>sinkSpacing</string>
	<key>independentPolygon</key>
	<string>currentResult</string>
	<key>localticker</key>
	<string>substantialCanvas</string>
	<key>remediationmargin</key>
	<string>canYieldOperation</string>
	<key>signResponse</key>
	<string>sizedboxtype</string>
</dict>
</plist>
