<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baserotation</key>
	<string>drawerRight</string>
	<key>descriptionState</key>
	<string>draggableReplica</string>
	<key>multiTime</key>
	<string>canSerializeCheckbox</string>
	<key>shouldCancelReduction</key>
	<string>inactiveAllocator</string>
	<key>shouldmountedplayback</key>
	<string>behaviorInterpreter</string>
</dict>
</plist>
