<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteModel</key>
	<string>gemEdge</string>
	<key>memberorientation</key>
	<string>transformGestureDetector</string>
	<key>newestSlider</key>
	<string>decorationPadding</string>
	<key>pagerDelay</key>
	<string>statusInteraction</string>
	<key>robustequalizationcenter</key>
	<string>prevAnalogy</string>
	<key>subtleProjection</key>
	<string>materialTabView</string>
	<key>typicalVertex</key>
	<string>shouldUnbindFuture</string>
</dict>
</plist>
