<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalSignature</key>
	<string>functionalFlex</string>
	<key>isModal</key>
	<string>independentPositioned</string>
	<key>mainBloc</key>
	<string>precisionColor</string>
	<key>sophisticatedMetrics</key>
	<string>geometricSkirt</string>
</dict>
</plist>
