<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengetype</key>
	<string>temporaryNotation</string>
	<key>composableSkirt</key>
	<string>unaryPrototype</string>
	<key>cubitIndex</key>
	<string>cancelSkirt</string>
	<key>dropouterror</key>
	<string>originalPositioned</string>
	<key>liteTool</key>
	<string>canEndWidget</string>
	<key>positionedduringdecorator</key>
	<string>captionindex</string>
	<key>seamlessInterface</key>
	<string>pushcube</string>
	<key>synchronousSprite</key>
	<string>timeHue</string>
	<key>tappableModulus</key>
	<string>remediationcount</string>
	<key>tickerBehavior</key>
	<string>listeneropacity</string>
</dict>
</plist>
