<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMenu</key>
	<string>elasticConsumer</string>
	<key>extensionBrightness</key>
	<string>parallelModulus</string>
	<key>geometricMerger</key>
	<string>shouldContinueCard</string>
	<key>intensityawaychain</key>
	<string>directlyinterface</string>
	<key>rectifyprogressbar</key>
	<string>shaderSkewX</string>
	<key>requiredRow</key>
	<string>materialRadio</string>
	<key>shouldKeepCursor</key>
	<string>primaryFeature</string>
	<key>shouldTrainLoss</key>
	<string>marshalGroup</string>
	<key>similarGesture</key>
	<string>isolateDensity</string>
</dict>
</plist>
