<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthIndex</key>
	<string>pendingCoordinator</string>
	<key>defaultSwift</key>
	<string>scrollableThreshold</string>
	<key>inkwellInset</key>
	<string>publicImpression</string>
	<key>priorResilience</key>
	<string>arithmeticDecorator</string>
</dict>
</plist>
