<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedGrid</key>
	<string>elementBrightness</string>
	<key>associatedworkflowpadding</key>
	<string>smartallocatorskewy</string>
	<key>batchconfiguration</key>
	<string>plateDepth</string>
	<key>concreteMesh</key>
	<string>overrideTransition</string>
	<key>directinterpolationpressure</key>
	<string>paddingLayer</string>
	<key>heroIndex</key>
	<string>makeBloc</string>
	<key>intuitiveParticle</key>
	<string>shouldShowTransition</string>
	<key>shouldDisconnectCanvas</key>
	<string>imageTheme</string>
	<key>shouldReplaceAccessory</key>
	<string>actionVisible</string>
	<key>sustainableTool</key>
	<string>undertakeSubscription</string>
</dict>
</plist>
