<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEntropy</key>
	<string>shouldAttachStep</string>
	<key>entitydisclaimer</key>
	<string>subscriptionAppearance</string>
	<key>globalfinder</key>
	<string>otherradioshape</string>
	<key>immediateresolver</key>
	<string>symmetricCurve</string>
	<key>menubottom</key>
	<string>missedEquipment</string>
	<key>presentrichtext</key>
	<string>canTrainSwift</string>
	<key>replicaTop</key>
	<string>ignoredRange</string>
</dict>
</plist>
