<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentCharacteristic</key>
	<string>intuitiveRichText</string>
	<key>deflatepet</key>
	<string>significantStream</string>
	<key>shouldresumeduration</key>
	<string>shouldMountedPrecision</string>
	<key>signaturemode</key>
	<string>flexibleTicker</string>
	<key>synchronousCompletion</key>
	<string>resumeProject</string>
	<key>viewnearvisitor</key>
	<string>transformerSkewX</string>
</dict>
</plist>
