<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeOffset</key>
	<string>creatorFlags</string>
	<key>permissivepopupdistance</key>
	<string>localCombiner</string>
	<key>rapidPet</key>
	<string>blocawaykind</string>
	<key>seguetween</key>
	<string>setstateCoordinator</string>
	<key>shouldParseCube</key>
	<string>canProcessMember</string>
	<key>statelessNotification</key>
	<string>associatedQueue</string>
	<key>substantialGrayscale</key>
	<string>uniformSwift</string>
	<key>touchShape</key>
	<string>activeBoxShadow</string>
	<key>unaryenvironmentspeed</key>
	<string>transformscene</string>
</dict>
</plist>
