<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directRectangle</key>
	<string>shouldPaintBoxShadow</string>
	<key>hyperbolicAwait</key>
	<string>computeResponse</string>
	<key>marginContrast</key>
	<string>crucialCycle</string>
	<key>parsepet</key>
	<string>configureTransition</string>
	<key>referenceSkewX</key>
	<string>controllereffect</string>
</dict>
</plist>
