<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inkwelltentative</key>
	<string>canUpdateScaffold</string>
	<key>locatetabview</key>
	<string>attachPet</string>
	<key>semanticsmethoddelay</key>
	<string>typicalThroughput</string>
	<key>subscriptionKind</key>
	<string>serializeCanvas</string>
	<key>sustainableaxisforce</key>
	<string>controllerFlags</string>
</dict>
</plist>
