<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorspacing</key>
	<string>captureRepository</string>
	<key>defaultradio</key>
	<string>canCancelSemantics</string>
	<key>hashRate</key>
	<string>captionRight</string>
	<key>multilinker</key>
	<string>shouldPopTransition</string>
	<key>publicDimension</key>
	<string>convertContainer</string>
	<key>visibleMobile</key>
	<string>enabledEvaluation</string>
	<key>webGrayscale</key>
	<string>rowmaterializer</string>
	<key>widgetmodevalidation</key>
	<string>fixedPolygon</string>
</dict>
</plist>
