<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSprite</key>
	<string>shouldObserveDimension</string>
	<key>hardView</key>
	<string>orchestrateModel</string>
	<key>largebuilder</key>
	<string>customAspectRatio</string>
	<key>lazyProgressBar</key>
	<string>modelhead</string>
	<key>reusableGate</key>
	<string>subsequentRecursion</string>
	<key>shouldUnbindTextField</key>
	<string>fixedScaffold</string>
</dict>
</plist>
