<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerTimer</key>
	<string>canRestartSensor</string>
	<key>flexTint</key>
	<string>reactiveReference</string>
	<key>popupTop</key>
	<string>makeRoute</string>
	<key>routervaluedirection</key>
	<string>canReplaceGrayscale</string>
	<key>shouldSkipSpine</key>
	<string>channelDensity</string>
	<key>similarUsage</key>
	<string>bulletlikelevel</string>
	<key>storageinterval</key>
	<string>specifyCluster</string>
</dict>
</plist>
