<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicright</key>
	<string>fragmentsTag</string>
	<key>customizedPolygon</key>
	<string>maincosinebound</string>
	<key>deferredtabview</key>
	<string>sophisticatedEntropy</string>
	<key>publicAnimation</key>
	<string>radiojobmomentum</string>
	<key>sophisticatedwidgetindex</key>
	<string>mediocrePicker</string>
	<key>standaloneInterpolation</key>
	<string>shouldCreateOption</string>
	<key>synchronousDecoration</key>
	<string>associatedstateful</string>
	<key>toolCount</key>
	<string>wrapFactory</string>
</dict>
</plist>
