<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalButton</key>
	<string>trainGate</string>
	<key>diversifiedAwait</key>
	<string>composableUnary</string>
	<key>entropyTop</key>
	<string>composableDescription</string>
	<key>localSensor</key>
	<string>touchPattern</string>
	<key>smallRichText</key>
	<string>canAnimateLabel</string>
</dict>
</plist>
