<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autotextureskewy</key>
	<string>refactorDelegate</string>
	<key>descriptorTag</key>
	<string>tentativeHead</string>
	<key>liteBinary</key>
	<string>delegateutil</string>
	<key>onalphachanged</key>
	<string>uniformDelegate</string>
	<key>originalBitrate</key>
	<string>unactivatedContraction</string>
	<key>resilientinkwell</key>
	<string>shouldTrainSession</string>
	<key>shouldEndTabBar</key>
	<string>lostRole</string>
	<key>textinmode</key>
	<string>lostGrayscale</string>
</dict>
</plist>
