<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monsterEdge</key>
	<string>customSubscriber</string>
	<key>mutableTransformer</key>
	<string>significantMesh</string>
	<key>olddescent</key>
	<string>observeCollection</string>
	<key>prismaticProfile</key>
	<string>requiredInteraction</string>
	<key>routerBound</key>
	<string>entropyAppearance</string>
	<key>uniformsensor</key>
	<string>mergerEdge</string>
	<key>usedSkirt</key>
	<string>infrastructureAcceleration</string>
</dict>
</plist>
