<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveLifecycle</key>
	<string>moveRoute</string>
	<key>desktopPositioned</key>
	<string>draggableColumn</string>
	<key>disparateIcon</key>
	<string>pointMomentum</string>
	<key>escalatecupertino</key>
	<string>compositionalmodulus</string>
	<key>futurePressure</key>
	<string>heroStyle</string>
	<key>mobileType</key>
	<string>shouldMountBitrate</string>
	<key>prevSegment</key>
	<string>transformerName</string>
	<key>stringifyinterface</key>
	<string>precisionScale</string>
</dict>
</plist>
