<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardService</key>
	<string>fixedScroller</string>
	<key>mediummapper</key>
	<string>poolRect</string>
	<key>permanentChapter</key>
	<string>smallBox</string>
	<key>rendererAcceleration</key>
	<string>coordinatorsystemfeedback</string>
	<key>secondbinder</key>
	<string>granularLinker</string>
</dict>
</plist>
