<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopFuture</key>
	<string>paintObserver</string>
	<key>durationFormat</key>
	<string>locateChannel</string>
	<key>impressionDirection</key>
	<string>prismaticInitiators</string>
	<key>intuitiveVideo</key>
	<string>creatorVisibility</string>
	<key>normStatus</key>
	<string>registerCoordinator</string>
	<key>promisehead</key>
	<string>sineSpacing</string>
	<key>shouldKeepBuilder</key>
	<string>makeSize</string>
	<key>shouldtrainstoryboard</key>
	<string>alignmentTail</string>
</dict>
</plist>
