<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelbesidefunction</key>
	<string>hardReduction</string>
	<key>extensionSpeed</key>
	<string>explicitManager</string>
	<key>fusedusecaselocation</key>
	<string>sophisticatedAppBar</string>
	<key>normalCupertino</key>
	<string>tappableDuration</string>
	<key>strengthrotation</key>
	<string>consultativeReduction</string>
	<key>subscriptiontypebrightness</key>
	<string>builderOpacity</string>
	<key>topicTransparency</key>
	<string>gesturedetectorWork</string>
</dict>
</plist>
