<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRectangle</key>
	<string>retainedConstant</string>
	<key>buildchapter</key>
	<string>timeFrequency</string>
	<key>permanentRestriction</key>
	<string>shouldBuildSizedBox</string>
	<key>routeresponse</key>
	<string>persistentskin</string>
</dict>
</plist>
