<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetformlocation</key>
	<string>durationCoord</string>
	<key>descriptionduringvalue</key>
	<string>descriptorMomentum</string>
	<key>dividepainter</key>
	<string>directChannel</string>
	<key>eagerService</key>
	<string>inheritedStoryboard</string>
	<key>erasecontainer</key>
	<string>occasionFrequency</string>
	<key>imageactionvisibility</key>
	<string>mutablePicker</string>
	<key>nextLifecycle</key>
	<string>usecaseshade</string>
	<key>originalPlate</key>
	<string>injectionLevel</string>
	<key>primaryreliability</key>
	<string>concurrentSubpixel</string>
	<key>seguemesh</key>
	<string>providerProxy</string>
</dict>
</plist>
