<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disclaimerEdge</key>
	<string>symmetricException</string>
	<key>methodSpacing</key>
	<string>imageDistance</string>
	<key>pivotalHash</key>
	<string>crucialReduction</string>
	<key>reductionremediation</key>
	<string>mainBorder</string>
	<key>specifyoptimizer</key>
	<string>deactivateAwait</string>
</dict>
</plist>
