<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengetentative</key>
	<string>animatoracceleration</string>
	<key>controllerTransparency</key>
	<string>consumeResolver</string>
	<key>exceptionPadding</key>
	<string>declarativeGram</string>
	<key>hierarchicalEquipment</key>
	<string>normalInitiators</string>
	<key>sessionSaturation</key>
	<string>chartframeworkskewx</string>
	<key>sortedGift</key>
	<string>canLoadPlate</string>
	<key>statelessNib</key>
	<string>requiredprocessor</string>
</dict>
</plist>
