<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationoutsidecycle</key>
	<string>previewScope</string>
	<key>backwardRange</key>
	<string>unmountSlash</string>
	<key>diversifiedProgressBar</key>
	<string>standaloneroute</string>
	<key>firstanimation</key>
	<string>invisibleMobile</string>
	<key>interactiveaction</key>
	<string>specifierStage</string>
	<key>observerfacadecenter</key>
	<string>provideQueue</string>
	<key>resilientTolerance</key>
	<string>handlerbridgeinteraction</string>
	<key>respectiveImage</key>
	<string>stampCount</string>
	<key>shouldMountedSizedBox</key>
	<string>spotScale</string>
	<key>tweenenvironmentcenter</key>
	<string>displayablevertex</string>
</dict>
</plist>
