<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateHead</key>
	<string>distinctiontail</string>
	<key>factorylinker</key>
	<string>canFetchRoute</string>
	<key>inactiveAlert</key>
	<string>unbindMultiplication</string>
	<key>liteGem</key>
	<string>dependencyMethod</string>
	<key>mobilecommandduration</key>
	<string>largeSlash</string>
	<key>semanticChooser</key>
	<string>shouldInflateBrush</string>
	<key>shouldPersistSymbol</key>
	<string>compileModel</string>
	<key>shouldValidateEquipment</key>
	<string>routeSymbol</string>
	<key>sustainableCapsule</key>
	<string>onnavigationtap</string>
	<key>threadRotation</key>
	<string>canRouteRichText</string>
</dict>
</plist>
