<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createcontroller</key>
	<string>invisibleTabBar</string>
	<key>defaultaspectratio</key>
	<string>timeroperationhue</string>
	<key>disabledDescription</key>
	<string>deserializeSignature</string>
	<key>mountborder</key>
	<string>deserializeCustomPaint</string>
	<key>newestRemainder</key>
	<string>comprehensiveContainer</string>
</dict>
</plist>
