<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianRectangle</key>
	<string>canEndCaption</string>
	<key>criticalCupertino</key>
	<string>inheritedProtocol</string>
	<key>decorationInset</key>
	<string>stringifyCubit</string>
	<key>hardConsumer</key>
	<string>firstRepository</string>
	<key>hasGift</key>
	<string>priorRestriction</string>
	<key>shouldDismissComposition</key>
	<string>gemTheme</string>
	<key>shouldUnmountExtension</key>
	<string>storyboardposition</string>
	<key>sorterStyle</key>
	<string>connectGestureDetector</string>
</dict>
</plist>
