<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionprovision</key>
	<string>rolearchitecture</string>
	<key>hierarchicalThreshold</key>
	<string>operationdecoratorvisibility</string>
	<key>layerdespitefunction</key>
	<string>chapterkind</string>
	<key>persistentAsync</key>
	<string>autoDecoration</string>
	<key>screenRight</key>
	<string>dissociateResolver</string>
</dict>
</plist>
