<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBuffer</key>
	<string>cupertinoTier</string>
	<key>injectionduringtier</key>
	<string>materialProvision</string>
	<key>missedTime</key>
	<string>specifyBox</string>
	<key>originalSensor</key>
	<string>yieldtext</string>
	<key>robustChannels</key>
	<string>smallLayer</string>
	<key>triggerVisibility</key>
	<string>exceptionframeworkmode</string>
</dict>
</plist>
