<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnpreview</key>
	<string>shouldListenMomentum</string>
	<key>draggableDuration</key>
	<string>graphicVisitor</string>
	<key>firstRoute</key>
	<string>arithmeticProcessor</string>
	<key>mutableMaterializer</key>
	<string>detachVariant</string>
	<key>observerhue</key>
	<string>iterativeMobile</string>
	<key>reactiveGram</key>
	<string>shouldNotifyRadio</string>
</dict>
</plist>
