<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateisolate</key>
	<string>unbindSession</string>
	<key>mediocreTween</key>
	<string>backwardRenderer</string>
	<key>nodeDirection</key>
	<string>enabledConstant</string>
	<key>pausesingleton</key>
	<string>newestGrain</string>
	<key>protectedmatrix</key>
	<string>captureRoute</string>
	<key>relationalEquivalent</key>
	<string>flexibleSine</string>
	<key>shouldrenderthread</key>
	<string>shouldSubscribeVariant</string>
</dict>
</plist>
