<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocpatternresponse</key>
	<string>canTransitionCosine</string>
	<key>constantinterval</key>
	<string>imperativeComposition</string>
	<key>draggableparticle</key>
	<string>resolverRate</string>
	<key>independentRectangle</key>
	<string>gradientSpacing</string>
	<key>occasionColor</key>
	<string>lazyEmitter</string>
</dict>
</plist>
