<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionquaternion</key>
	<string>masterwithproxy</string>
	<key>agileBrush</key>
	<string>equalizationoutsidedecorator</string>
	<key>associatedDuration</key>
	<string>scrollableUnary</string>
	<key>channelsValidation</key>
	<string>significantMapper</string>
	<key>elasticConvolution</key>
	<string>checklistTail</string>
	<key>missedModal</key>
	<string>persistentFeature</string>
	<key>secondUnary</key>
	<string>parallelThread</string>
	<key>symmetricSorter</key>
	<string>constraintleft</string>
</dict>
</plist>
