<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFrequency</key>
	<string>confidentialityContrast</string>
	<key>localizationtension</key>
	<string>executecanvas</string>
	<key>tangentBound</key>
	<string>canSerializeMatrix</string>
	<key>webRadius</key>
	<string>extendStorage</string>
</dict>
</plist>
