<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianMultiplication</key>
	<string>intermediateParticle</string>
	<key>cupertinoGraphic</key>
	<string>basicRequest</string>
	<key>largeScalability</key>
	<string>resetLocalization</string>
	<key>localizationInset</key>
	<string>retrievespot</string>
	<key>mutableresolvercontrast</key>
	<string>movementTail</string>
	<key>newestBaseline</key>
	<string>listenAnchor</string>
	<key>prevSign</key>
	<string>adaptiveBatch</string>
	<key>statefulTitle</key>
	<string>writeZone</string>
	<key>tweenedge</key>
	<string>dynamicFeature</string>
</dict>
</plist>
