<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterplatformskewy</key>
	<string>animateRect</string>
	<key>characterEdge</key>
	<string>cursorobserverresponse</string>
	<key>clipgrid</key>
	<string>arithmeticNib</string>
	<key>difficultvectorduration</key>
	<string>performContainer</string>
	<key>hyperbolicstatus</key>
	<string>canEndInitiators</string>
	<key>significantkerneltype</key>
	<string>primaryFragment</string>
</dict>
</plist>
