<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterMode</key>
	<string>substantialTrajectory</string>
	<key>denseEquipment</key>
	<string>challengeascent</string>
	<key>gradientcontainer</key>
	<string>webRole</string>
	<key>heapPadding</key>
	<string>canStreamBoxShadow</string>
	<key>rowtaskduration</key>
	<string>extensionLocation</string>
	<key>smartDescription</key>
	<string>keepMap</string>
</dict>
</plist>
