<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeVertex</key>
	<string>offsettype</string>
	<key>indicatoroutsideoperation</key>
	<string>keepCurve</string>
	<key>interactiveStream</key>
	<string>shouldMountScreen</string>
	<key>permissiveDelegate</key>
	<string>groupHead</string>
	<key>publisherstate</key>
	<string>uniqueDescriptor</string>
	<key>textMargin</key>
	<string>sophisticatedRadio</string>
</dict>
</plist>
