<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerbandwidth</key>
	<string>statefulResponder</string>
	<key>gramlabel</key>
	<string>diversifiedGroup</string>
	<key>mobileThread</key>
	<string>optimizerPattern</string>
	<key>nextSpecifier</key>
	<string>matrixTint</string>
	<key>previewLocation</key>
	<string>shaderTint</string>
	<key>quantizerpresenter</key>
	<string>extensionmethodtension</string>
	<key>shouldFinishUsage</key>
	<string>checklistTier</string>
	<key>shouldPresentSlash</key>
	<string>listenerObserver</string>
	<key>specifysplitter</key>
	<string>criticalpolyfill</string>
	<key>uniformController</key>
	<string>canSerializeFlex</string>
</dict>
</plist>
