<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAnalyzer</key>
	<string>interceptTopic</string>
	<key>originalCompletion</key>
	<string>pivotalDetector</string>
	<key>rolebesidetask</key>
	<string>consultativeMesh</string>
	<key>shouldPauseGift</key>
	<string>maxModal</string>
	<key>uniquePager</key>
	<string>typicalConfiguration</string>
</dict>
</plist>
