<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentslash</key>
	<string>localStroke</string>
	<key>capsuleRate</key>
	<string>revisitOffset</string>
	<key>composableScaffold</key>
	<string>reactiveRenderer</string>
	<key>crucialpainter</key>
	<string>infrastructurePadding</string>
	<key>crudebufferrotation</key>
	<string>shouldStartNorm</string>
	<key>nativeRichText</key>
	<string>immutableCursor</string>
	<key>rowslider</key>
	<string>maintainCallback</string>
	<key>sessionPressure</key>
	<string>tensorSingleton</string>
	<key>shouldUpdateOptimizer</key>
	<string>updateCurve</string>
	<key>taxonomyTag</key>
	<string>dimensionFramework</string>
</dict>
</plist>
