<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertprogressbar</key>
	<string>elementTag</string>
	<key>animationDepth</key>
	<string>lazyAsset</string>
	<key>charactertag</key>
	<string>canValidateDropdownButton</string>
	<key>imperativeIntegrity</key>
	<string>subscriptionSkewY</string>
	<key>popupmargin</key>
	<string>disabledScene</string>
	<key>relationalsensorpadding</key>
	<string>canBuildView</string>
	<key>shouldPrepareEffect</key>
	<string>controllerVariable</string>
</dict>
</plist>
