<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorcoordinator</key>
	<string>sustainableTabView</string>
	<key>emittertag</key>
	<string>shouldserializedialogs</string>
	<key>granularObject</key>
	<string>canUnbindCurve</string>
	<key>otherCube</key>
	<string>fragmentTail</string>
	<key>sophisticatedAlpha</key>
	<string>injectionDuration</string>
	<key>statelessComponent</key>
	<string>geometricLogarithm</string>
</dict>
</plist>
