<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultSubscriber</key>
	<string>canRenderMatrix</string>
	<key>popcallback</key>
	<string>appbarTag</string>
	<key>symmetricPlayback</key>
	<string>keyMusic</string>
	<key>topicOrigin</key>
	<string>nextTexture</string>
</dict>
</plist>
