<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagercube</key>
	<string>transitionshader</string>
	<key>mediaqueryoutsideparameter</key>
	<string>shoulddisconnectdimension</string>
	<key>permissiveResolver</key>
	<string>projectPressure</string>
	<key>shouldCancelIcon</key>
	<string>dispatchExtension</string>
	<key>transitiontaskpressure</key>
	<string>sustainableSpine</string>
	<key>uniquesorter</key>
	<string>visibleState</string>
</dict>
</plist>
