<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvevideo</key>
	<string>materialComposite</string>
	<key>invisibleDrawer</key>
	<string>materialTentative</string>
	<key>pinchableMovement</key>
	<string>shouldDetachStep</string>
</dict>
</plist>
