<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedDetail</key>
	<string>geometricSearcher</string>
	<key>referenceDepth</key>
	<string>equalManager</string>
	<key>scrollfeedback</key>
	<string>canCacheMaterial</string>
	<key>significantinjectionbrightness</key>
	<string>insteadReducer</string>
</dict>
</plist>
