<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastVariant</key>
	<string>unactivatedInfrastructure</string>
	<key>numericalDecoration</key>
	<string>canKeepSign</string>
	<key>shouldRestartHistogram</key>
	<string>shouldinitializenib</string>
	<key>statefulstateless</key>
	<string>introspectSink</string>
	<key>temporaryException</key>
	<string>mediumMargin</string>
	<key>visibleReducer</key>
	<string>gateShade</string>
</dict>
</plist>
