<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphauntilparam</key>
	<string>animatedTimer</string>
	<key>ascentContrast</key>
	<string>shouldFetchDescriptor</string>
	<key>immutableModulus</key>
	<string>mediocreConfiguration</string>
	<key>numericallocalization</key>
	<string>localModule</string>
	<key>selectedtext</key>
	<string>canLoadScale</string>
	<key>transformerForce</key>
	<string>usedSession</string>
	<key>unactivatedButton</key>
	<string>amortizationTag</string>
</dict>
</plist>
