<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customPolygon</key>
	<string>largeDelegate</string>
	<key>flexibleNotifier</key>
	<string>temporarySample</string>
	<key>permissiveSlider</key>
	<string>hyperbolicElasticity</string>
	<key>polyfillPressure</key>
	<string>navigatorincludelevel</string>
	<key>shouldunmountedmobile</key>
	<string>canCancelAppBar</string>
	<key>symbolvisible</key>
	<string>tensorSubscription</string>
</dict>
</plist>
