<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heappainter</key>
	<string>compositioncontrast</string>
	<key>inheritedEquivalent</key>
	<string>priorResolver</string>
	<key>navigatorresponse</key>
	<string>localizationawayactivity</string>
	<key>scrollmetadata</key>
	<string>shouldNotifyBorder</string>
</dict>
</plist>
