<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGesture</key>
	<string>customizedMonster</string>
	<key>diversifiedAccessory</key>
	<string>shadermapper</string>
	<key>flexibleUseCase</key>
	<string>nativeBrush</string>
	<key>inheritedThroughput</key>
	<string>accordionSample</string>
	<key>layoutDensity</key>
	<string>directlyChapter</string>
	<key>reductionOrientation</key>
	<string>fetchTabBar</string>
</dict>
</plist>
