<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricSample</key>
	<string>holdAsync</string>
	<key>labeltrajectory</key>
	<string>shouldCachePromise</string>
	<key>polyfillmomentum</key>
	<string>shouldInflatePrecision</string>
	<key>positionmode</key>
	<string>shouldRestartSpecifier</string>
	<key>primarybuttonhead</key>
	<string>mediaqueryasscope</string>
	<key>scopeScale</key>
	<string>imperativeGift</string>
	<key>sliderPosition</key>
	<string>labelVisitor</string>
	<key>techniqueInteraction</key>
	<string>fusedBinder</string>
</dict>
</plist>
