<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMargin</key>
	<string>compositionContrast</string>
	<key>elasticDelivery</key>
	<string>decodeprofile</string>
	<key>isolateflyweightdepth</key>
	<string>activatedAnchor</string>
	<key>storeDelay</key>
	<string>escalateRect</string>
</dict>
</plist>
