<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileStorage</key>
	<string>embraceconvolution</string>
	<key>capsuleVisible</key>
	<string>keepCycle</string>
	<key>crudeCubit</key>
	<string>otherRestriction</string>
	<key>directlyInfo</key>
	<string>aspectratioStage</string>
	<key>materialinterpreteralignment</key>
	<string>blocAlignment</string>
	<key>newestBloc</key>
	<string>compositionalTexture</string>
	<key>shouldContinueCheckbox</key>
	<string>canPushWorkflow</string>
	<key>shouldShowCollection</key>
	<string>provideReducer</string>
	<key>shouldValidatePlayback</key>
	<string>factorycontrast</string>
	<key>statefulController</key>
	<string>responsiveStrength</string>
</dict>
</plist>
