<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxEdge</key>
	<string>otherLayout</string>
	<key>prismaticPet</key>
	<string>looplayervalidation</string>
</dict>
</plist>
