<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionColor</key>
	<string>responseDirection</string>
	<key>descriptorRotation</key>
	<string>projectionInterval</string>
	<key>difficultTicker</key>
	<string>screenprovider</string>
	<key>initiatorsdirection</key>
	<string>prevSkin</string>
	<key>integerMomentum</key>
	<string>containerForce</string>
	<key>materialGraph</key>
	<string>canFormatBoxShadow</string>
	<key>routequaternion</key>
	<string>materialUseCase</string>
	<key>savemodulus</key>
	<string>semanticGroup</string>
	<key>shouldKeepPlate</key>
	<string>dismissBehavior</string>
	<key>unsortedParticle</key>
	<string>measureAction</string>
</dict>
</plist>
