<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarconverter</key>
	<string>activegiftscale</string>
	<key>delicateBase</key>
	<string>tentativeIndex</string>
	<key>euclideanConvolution</key>
	<string>globallistviewtag</string>
	<key>gatefeature</key>
	<string>retrieveCurve</string>
	<key>loopsaturation</key>
	<string>requiredAnalogy</string>
	<key>nextSound</key>
	<string>serializeEquipment</string>
	<key>primarylistenerskewy</key>
	<string>obtainCubit</string>
	<key>resourceuntilprocess</key>
	<string>diffableBrush</string>
	<key>singleMediaQuery</key>
	<string>offsetflags</string>
	<key>tappableLog</key>
	<string>skipListView</string>
</dict>
</plist>
