<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futurecontainproxy</key>
	<string>transformDecoration</string>
	<key>impressionDepth</key>
	<string>nextNotifier</string>
	<key>shouldReplaceRole</key>
	<string>spotInterpreter</string>
	<key>sizedboxthreshold</key>
	<string>bufferBehavior</string>
	<key>threadHead</key>
	<string>consultativeBaseline</string>
</dict>
</plist>
