<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmenttable</key>
	<string>rowplatformedge</string>
	<key>crudemodule</key>
	<string>awaitOrientation</string>
	<key>providercompositevelocity</key>
	<string>scrollableObject</string>
	<key>robustFormat</key>
	<string>iterativeAnalyzer</string>
</dict>
</plist>
