<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedboxcolor</key>
	<string>shouldDisposeGesture</string>
	<key>sharedSingleton</key>
	<string>secondDimension</string>
	<key>shouldLoadBehavior</key>
	<string>statelesstop</string>
	<key>sortedMultiplication</key>
	<string>capacitiesVisitor</string>
	<key>synchronousGestureDetector</key>
	<string>transitionCatalyst</string>
	<key>usageStyle</key>
	<string>exceptionSystem</string>
	<key>usedCollection</key>
	<string>accordionImage</string>
</dict>
</plist>
