<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterawait</key>
	<string>asynccompositesize</string>
	<key>reusableMatrix</key>
	<string>difficultFeature</string>
	<key>shouldProcessRow</key>
	<string>shouldPersistCustomPaint</string>
	<key>shouldShowView</key>
	<string>mixinText</string>
	<key>storageHue</key>
	<string>numericalImpact</string>
	<key>topicBrightness</key>
	<string>reusablerowlocation</string>
</dict>
</plist>
