<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedmetadatafeedback</key>
	<string>sharedRequest</string>
	<key>autoSplitter</key>
	<string>modalMethod</string>
	<key>defaultText</key>
	<string>canListenSign</string>
	<key>desktopContraction</key>
	<string>shearButton</string>
	<key>drawerSkewY</key>
	<string>pageviewsystemlocation</string>
	<key>entitytaskalignment</key>
	<string>mapSpeed</string>
	<key>integermargin</key>
	<string>tappableshader</string>
	<key>lazyCharacter</key>
	<string>charttop</string>
	<key>listenerfrequency</key>
	<string>pivotalLoss</string>
	<key>multiMap</key>
	<string>canSetStateAspectRatio</string>
</dict>
</plist>
