<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachebound</key>
	<string>durationbound</string>
	<key>compositionalScreen</key>
	<string>labelcharacteristic</string>
	<key>concreteTweak</key>
	<string>similarLocalization</string>
	<key>defaultBinary</key>
	<string>liteParticle</string>
	<key>directlytweak</key>
	<string>descentPosition</string>
	<key>diversifiedFuture</key>
	<string>navigatePresenter</string>
	<key>hierarchicalDelegate</key>
	<string>dismissNavigation</string>
	<key>notationName</key>
	<string>publishExponent</string>
	<key>shouldUnbindPet</key>
	<string>largechannelscale</string>
</dict>
</plist>
