<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesDepth</key>
	<string>projectmodel</string>
	<key>deferredtext</key>
	<string>stampOperation</string>
	<key>disposevariant</key>
	<string>implementState</string>
	<key>fragmentIndex</key>
	<string>canRenderLoss</string>
	<key>performhandler</key>
	<string>capacitiesProcess</string>
	<key>permissiveElement</key>
	<string>isChecklist</string>
	<key>sanitizenavigator</key>
	<string>tappablereplica</string>
	<key>scrollableLatency</key>
	<string>uniquePicker</string>
	<key>shouldSerializePainter</key>
	<string>lastListener</string>
	<key>specifyHero</key>
	<string>streamOverlay</string>
</dict>
</plist>
