<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateanimatedcontainertop</key>
	<string>transformcontroller</string>
	<key>immutableTween</key>
	<string>semanticCaption</string>
	<key>isolateformat</key>
	<string>protectedDescription</string>
	<key>oldmenuopacity</key>
	<string>cleanResource</string>
	<key>persistentConnector</key>
	<string>handleequalization</string>
	<key>providerLocation</key>
	<string>smallCollection</string>
	<key>shouldDispatchCatalyst</key>
	<string>subsequentManager</string>
	<key>shouldUnbindMap</key>
	<string>maincycle</string>
	<key>sophisticatedAppBar</key>
	<string>originalImpact</string>
	<key>streamcontainkind</key>
	<string>statefultopiclocation</string>
</dict>
</plist>
