<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileIntegration</key>
	<string>explicitSignature</string>
	<key>displayableEquipment</key>
	<string>shouldLayoutExponent</string>
	<key>kernelValidation</key>
	<string>beginnerTable</string>
	<key>layerRight</key>
	<string>fusedcubeshade</string>
	<key>multicosinedensity</key>
	<string>zonebrightness</string>
	<key>resizableHero</key>
	<string>synccertificate</string>
	<key>shouldCreatePoint</key>
	<string>dropdownbuttonDuration</string>
	<key>stamptopic</key>
	<string>canStreamInitiators</string>
</dict>
</plist>
