<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentcosine</key>
	<string>borderincludesingleton</string>
	<key>euclideanInfo</key>
	<string>temporaryThreshold</string>
	<key>extensionplatformtag</key>
	<string>notificationOperation</string>
	<key>functionalfactory</key>
	<string>variantInterval</string>
	<key>intuitiveHero</key>
	<string>dismissRequest</string>
	<key>listviewfragments</key>
	<string>shouldPublishMomentum</string>
	<key>mobilecyclerate</key>
	<string>canHandleTask</string>
	<key>shouldPublishInstruction</key>
	<string>deprecatepromise</string>
	<key>shouldRenderProjection</key>
	<string>tappableGate</string>
	<key>spriteFormat</key>
	<string>labelResponse</string>
</dict>
</plist>
