<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationpervisitor</key>
	<string>certificatelocalization</string>
	<key>initiativeInterval</key>
	<string>pivotalEmitter</string>
	<key>labeltop</key>
	<string>shouldMountedCache</string>
	<key>operationfortemple</key>
	<string>mediumevolution</string>
	<key>resizableConfiguration</key>
	<string>commonEffect</string>
	<key>responsiveEqualization</key>
	<string>semanticVertex</string>
	<key>seamlessRadius</key>
	<string>buildercontrast</string>
</dict>
</plist>
