<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardDropdownButton</key>
	<string>reactiveRouter</string>
	<key>customImpact</key>
	<string>hashDensity</string>
	<key>dedicatedSpine</key>
	<string>canTransitionStoryboard</string>
	<key>granularfragmenttint</key>
	<string>geometricConverter</string>
	<key>pickername</key>
	<string>asynchronousTentative</string>
	<key>playbackSkewX</key>
	<string>typicalService</string>
</dict>
</plist>
