<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedNotation</key>
	<string>positionedWork</string>
	<key>allocategradient</key>
	<string>largePlate</string>
	<key>analogyName</key>
	<string>lostMaterializer</string>
	<key>concretesearcher</key>
	<string>shouldanimatereference</string>
	<key>specifyAsset</key>
	<string>agileHistogram</string>
	<key>traversalMode</key>
	<string>mediumgramspeed</string>
</dict>
</plist>
