<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionmargin</key>
	<string>binaryactiondepth</string>
	<key>comprehensiveEvent</key>
	<string>arithmeticName</string>
	<key>errorCoord</key>
	<string>globalCheckbox</string>
	<key>heapType</key>
	<string>cubitdecoratorduration</string>
	<key>opaqueaudio</key>
	<string>semanticIntegration</string>
	<key>retainedMapper</key>
	<string>smallLinker</string>
	<key>tappablePrecision</key>
	<string>observerDirection</string>
</dict>
</plist>
