<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStep</key>
	<string>semanticsJob</string>
	<key>aspectRotation</key>
	<string>persistentstatemomentum</string>
	<key>mobilecallback</key>
	<string>mountedMatrix</string>
	<key>nextSize</key>
	<string>detachProject</string>
	<key>smartlayer</key>
	<string>transpileFrame</string>
	<key>subsequentBehavior</key>
	<string>processCertificate</string>
	<key>unactivatedTool</key>
	<string>commonactionposition</string>
	<key>volumeOffset</key>
	<string>substantialModulus</string>
</dict>
</plist>
