<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activitySkewX</key>
	<string>bandwidthInterval</string>
	<key>dropoutresource</key>
	<string>timelineBehavior</string>
	<key>mutableResult</key>
	<string>layoutindecorator</string>
	<key>shouldParseSensor</key>
	<string>cacheNotification</string>
</dict>
</plist>
