<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGrain</key>
	<string>shouldPersistModal</string>
	<key>binderDuration</key>
	<string>appbarOrientation</string>
	<key>cachestream</key>
	<string>modulusScope</string>
	<key>draggableAnalogy</key>
	<string>tangentMemento</string>
	<key>onappbarchanged</key>
	<string>nibshape</string>
	<key>rectconfidentiality</key>
	<string>paintCard</string>
	<key>shouldHandleInitiators</key>
	<string>themeFacade</string>
	<key>titlecolor</key>
	<string>playbackcompositemargin</string>
	<key>visibleSample</key>
	<string>usecaseamonginterpreter</string>
</dict>
</plist>
