<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emitterBorder</key>
	<string>deserializeModel</string>
	<key>hasCache</key>
	<string>deactivateVector</string>
	<key>liteHash</key>
	<string>quitFeature</string>
	<key>shouldEmitContraction</key>
	<string>rectInterval</string>
	<key>specifierinjection</key>
	<string>recursionShape</string>
</dict>
</plist>
