<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directStorage</key>
	<string>originalAscent</string>
	<key>dispatcherSpacing</key>
	<string>boxpresenter</string>
	<key>fixedImpact</key>
	<string>integerTier</string>
	<key>gradientwithprototype</key>
	<string>animationBound</string>
	<key>localHash</key>
	<string>ignoredNorm</string>
	<key>popupoccasion</key>
	<string>asyncmodel</string>
	<key>reusableRouter</key>
	<string>independentStatus</string>
</dict>
</plist>
