<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncfeedback</key>
	<string>prismaticTweak</string>
	<key>cycleTension</key>
	<string>exponentbehavior</string>
	<key>discardedBaseline</key>
	<string>yieldTheme</string>
	<key>firstSelector</key>
	<string>consultativeLogarithm</string>
	<key>nodeatstructure</key>
	<string>augmentthread</string>
	<key>offsetskewx</key>
	<string>themeslider</string>
	<key>resizableaction</key>
	<string>integrationTail</string>
	<key>resizesign</key>
	<string>provisionpadding</string>
</dict>
</plist>
