<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDescent</key>
	<string>immediateController</string>
	<key>disparateGram</key>
	<string>canStartLoss</string>
	<key>gridtag</key>
	<string>optimizerShape</string>
	<key>reactiveController</key>
	<string>directSlider</string>
	<key>shouldNotifyWidget</key>
	<string>synchronizeheap</string>
	<key>shouldPrepareNorm</key>
	<string>canPersistBullet</string>
	<key>subtlestoremargin</key>
	<string>masterFunction</string>
</dict>
</plist>
