<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedlossindex</key>
	<string>deploylistener</string>
	<key>basicService</key>
	<string>timerLocation</string>
	<key>customRichText</key>
	<string>cloneObserver</string>
	<key>draggablePositioned</key>
	<string>latencymomentum</string>
	<key>parallelKernel</key>
	<string>mobilevisibility</string>
	<key>shouldLayoutSign</key>
	<string>advancedswiftshape</string>
	<key>shouldTransitionTechnique</key>
	<string>cursorDirection</string>
	<key>sizetypealignment</key>
	<string>capacitiesbytier</string>
	<key>taxonomyFrequency</key>
	<string>logarithmFlyweight</string>
	<key>uniqueProgressBar</key>
	<string>priorityactivityopacity</string>
</dict>
</plist>
