<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletduringfunction</key>
	<string>stepFunction</string>
	<key>invisibleanimation</key>
	<string>tableMomentum</string>
	<key>projectionShade</key>
	<string>mountBuilder</string>
	<key>queuebottom</key>
	<string>mainResilience</string>
	<key>retrieveactivity</key>
	<string>annotateSize</string>
	<key>shouldRouteActivity</key>
	<string>customCharacter</string>
	<key>shouldStreamProfile</key>
	<string>remainderObserver</string>
	<key>typicalCube</key>
	<string>quantizerFuture</string>
</dict>
</plist>
