<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>componentOpacity</key>
	<string>provisionsize</string>
	<key>deferredUseCase</key>
	<string>animategate</string>
	<key>interfaceDistance</key>
	<string>startFlex</string>
	<key>numericalMaterializer</key>
	<string>interactiveTernary</string>
	<key>offsetright</key>
	<string>invisibleNavigation</string>
	<key>singletonAppearance</key>
	<string>kernelEdge</string>
	<key>unsortedSample</key>
	<string>sustainablespine</string>
</dict>
</plist>
