<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentbatch</key>
	<string>accessibleLayer</string>
	<key>deferredDropdownButton</key>
	<string>progressbarScope</string>
	<key>disabledTimer</key>
	<string>pinchableLatency</string>
	<key>keyService</key>
	<string>basicobservervelocity</string>
	<key>lifecyclerate</key>
	<string>subtleChart</string>
	<key>loaderorientation</key>
	<string>interactiveWidget</string>
	<key>mobilePadding</key>
	<string>retainedChallenge</string>
	<key>otherManager</key>
	<string>cyclefeedback</string>
	<key>reusableScroller</key>
	<string>eagerIcon</string>
	<key>streamcyclename</key>
	<string>protectedRichText</string>
</dict>
</plist>
