<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvemend</key>
	<string>durationshape</string>
	<key>customizedLocalization</key>
	<string>canStreamTouch</string>
	<key>intuitiveData</key>
	<string>introspectmenu</string>
	<key>remediationTop</key>
	<string>promiseTension</string>
	<key>shouldShowBitrate</key>
	<string>rectangleType</string>
</dict>
</plist>
