<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegaterate</key>
	<string>crudeChart</string>
	<key>shouldPresentBehavior</key>
	<string>dynamicDetector</string>
	<key>smartSubscription</key>
	<string>unscheduleUtil</string>
	<key>taskinset</key>
	<string>cacheCertificate</string>
	<key>tentativeInset</key>
	<string>extendInteractor</string>
</dict>
</plist>
