<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationsinceform</key>
	<string>shouldConnectDecoration</string>
	<key>customGrayscale</key>
	<string>charactername</string>
	<key>ephemeralContrast</key>
	<string>shouldRestartBuilder</string>
	<key>gateBehavior</key>
	<string>primarySubpixel</string>
	<key>multiTool</key>
	<string>behaviorAction</string>
	<key>provideinitiators</key>
	<string>sceneAlignment</string>
	<key>sophisticatedSample</key>
	<string>unmountCustomPaint</string>
</dict>
</plist>
