<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creatorright</key>
	<string>disabledDimension</string>
	<key>dividesession</key>
	<string>localizationbyscope</string>
	<key>euclideanDistinction</key>
	<string>similarAspect</string>
	<key>hierarchicalJoiner</key>
	<string>declarativeAspect</string>
	<key>memberTension</key>
	<string>protectedSizedBox</string>
	<key>missedanimation</key>
	<string>uniqueResponder</string>
	<key>shouldCancelExtension</key>
	<string>embracekernel</string>
	<key>shouldPushTask</key>
	<string>resolverMomentum</string>
	<key>shouldlayoutbase</key>
	<string>unsortedEmitter</string>
	<key>variantPosition</key>
	<string>collectionscale</string>
</dict>
</plist>
