<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllertension</key>
	<string>threadsize</string>
	<key>deliveryState</key>
	<string>elasticError</string>
	<key>disclaimerCenter</key>
	<string>shouldDisposeGridView</string>
	<key>listenerdispatcher</key>
	<string>canConnectBehavior</string>
	<key>shouldAnimateDecoration</key>
	<string>reusableTweak</string>
	<key>shouldMountedRichText</key>
	<string>localRouter</string>
	<key>shouldencodekernel</key>
	<string>nodemomentum</string>
</dict>
</plist>
