<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedObject</key>
	<string>emitAlpha</string>
	<key>columnBottom</key>
	<string>singletonStage</string>
	<key>concreteColumn</key>
	<string>dedicatedExpanded</string>
	<key>customblocstate</key>
	<string>multiCreator</string>
	<key>delegateunary</key>
	<string>temporaryreceiver</string>
	<key>localizationsearcher</key>
	<string>largeSample</string>
	<key>mediocreEquipment</key>
	<string>metadataDirection</string>
	<key>offsetDepth</key>
	<string>canFinishSizedBox</string>
	<key>resilientRoute</key>
	<string>shouldContinueDocument</string>
	<key>subsequentlabelposition</key>
	<string>discovercosine</string>
</dict>
</plist>
