<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPicker</key>
	<string>completionevaluation</string>
	<key>captureallocator</key>
	<string>optionComposite</string>
	<key>dynamicLoss</key>
	<string>shouldStopDropdownButton</string>
	<key>euclideanVolume</key>
	<string>radioFramework</string>
	<key>lastlistviewtheme</key>
	<string>videoRate</string>
	<key>managerDepth</key>
	<string>transitionlayer</string>
	<key>mobiledimensionmargin</key>
	<string>autoInjection</string>
	<key>referenceLeft</key>
	<string>usagefeedback</string>
	<key>temporaryModal</key>
	<string>marginJob</string>
	<key>tickerFrequency</key>
	<string>immediateBuilder</string>
</dict>
</plist>
