<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanSizedBox</key>
	<string>ephemeralTask</string>
	<key>exponentisolate</key>
	<string>enabledBoxShadow</string>
	<key>observetimer</key>
	<string>replicateMetadata</string>
	<key>shouldHandleBuilder</key>
	<string>uniqueStateless</string>
	<key>statelessGrayscale</key>
	<string>cartesianDetail</string>
</dict>
</plist>
