<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRecursion</key>
	<string>canPauseCustomPaint</string>
	<key>comprehensivetoolforce</key>
	<string>tappableDuration</string>
	<key>mergerHead</key>
	<string>exponentVelocity</string>
	<key>particleContrast</key>
	<string>parallelSpot</string>
	<key>responsiveGesture</key>
	<string>relationalPositioned</string>
	<key>shouldSkipPageView</key>
	<string>directService</string>
	<key>spriteBottom</key>
	<string>canUnmountedConstraint</string>
</dict>
</plist>
