<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityPosition</key>
	<string>resizeFeature</string>
	<key>containerformflags</key>
	<string>hasstateless</string>
	<key>geometricCosine</key>
	<string>yieldSpine</string>
	<key>reactiverectvalidation</key>
	<string>usedexponent</string>
	<key>shouldPersistRoute</key>
	<string>hardbutton</string>
</dict>
</plist>
