<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveThread</key>
	<string>buildbrush</string>
	<key>beginnerUsage</key>
	<string>adaptiveMaterial</string>
	<key>parsecomposition</key>
	<string>decoupleError</string>
	<key>prismaticCard</key>
	<string>advancedListener</string>
	<key>specifierservice</key>
	<string>ignoredEvent</string>
</dict>
</plist>
