<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonplaybackbrightness</key>
	<string>petFormat</string>
	<key>diffableProject</key>
	<string>custompaintKind</string>
	<key>findequalization</key>
	<string>oldGradient</string>
	<key>floatawait</key>
	<string>mediocreAxis</string>
	<key>integrationBottom</key>
	<string>sharedEmitter</string>
	<key>mergerSkewX</key>
	<string>columnDuration</string>
	<key>nibcolor</key>
	<string>bitrateTier</string>
	<key>respectiveAsset</key>
	<string>eagerDescent</string>
	<key>semanticPromise</key>
	<string>canFormatFlex</string>
	<key>thresholdInterval</key>
	<string>prevplaterate</string>
</dict>
</plist>
