<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleawait</key>
	<string>arithmeticCupertino</string>
	<key>layoutscroller</key>
	<string>stepstructureoffset</string>
	<key>liteThreshold</key>
	<string>semanticModulus</string>
	<key>shouldDetachStateless</key>
	<string>directloader</string>
	<key>spotVisibility</key>
	<string>resolveSingleton</string>
	<key>statefulMend</key>
	<string>linkerInterval</string>
</dict>
</plist>
