<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartRotation</key>
	<string>canContinueProtocol</string>
	<key>defaultOperation</key>
	<string>projectAlignment</string>
	<key>exponentKind</key>
	<string>semanticGem</string>
	<key>grayscalesorter</key>
	<string>promiseamongfunction</string>
	<key>immediateFuture</key>
	<string>playStore</string>
	<key>servicefrequency</key>
	<string>promisecompleter</string>
	<key>textureStyle</key>
	<string>shouldPopBoxShadow</string>
</dict>
</plist>
