<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionLeft</key>
	<string>symmetricColumn</string>
	<key>directlyJoiner</key>
	<string>canSetStateGrayscale</string>
	<key>displayablecard</key>
	<string>comprehensiveContraction</string>
	<key>elasticNode</key>
	<string>numericalTable</string>
	<key>mediumInterpolation</key>
	<string>buildershape</string>
	<key>mediumSizedBox</key>
	<string>conformChapter</string>
	<key>mediumimage</key>
	<string>delicateTimeline</string>
	<key>rowflyweightinterval</key>
	<string>coordinatorcolor</string>
	<key>tabviewAlignment</key>
	<string>visibleScalability</string>
</dict>
</plist>
