<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateddescent</key>
	<string>specifySkirt</string>
	<key>fusedRouter</key>
	<string>dropdownbuttonstatevisibility</string>
	<key>invisibleSensor</key>
	<string>radiusAppearance</string>
	<key>mutableDescent</key>
	<string>stopSpecifier</string>
	<key>pivotaldropdownbutton</key>
	<string>shouldFinishAnimatedContainer</string>
	<key>requiredStamp</key>
	<string>makeFrame</string>
	<key>retainedDescription</key>
	<string>stateAcceleration</string>
	<key>sensorMode</key>
	<string>accordionintegration</string>
	<key>subtleDelegate</key>
	<string>subsequentMetrics</string>
</dict>
</plist>
