<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetvisitorposition</key>
	<string>completerrate</string>
	<key>comprehensiveShader</key>
	<string>currentPainter</string>
	<key>dedicatedState</key>
	<string>canEncodeExtension</string>
	<key>mediummechanism</key>
	<string>consumerPadding</string>
	<key>nibshade</key>
	<string>anchorStructure</string>
	<key>rendergroup</key>
	<string>symbolBehavior</string>
	<key>shouldRestartBase</key>
	<string>mutableCapacity</string>
	<key>statelessSubpixel</key>
	<string>standaloneVolume</string>
</dict>
</plist>
