<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarytint</key>
	<string>popupComposite</string>
	<key>builderdescent</key>
	<string>integerHue</string>
	<key>eagermomentum</key>
	<string>shouldDismissProtocol</string>
	<key>layerframeworkdistance</key>
	<string>startTouch</string>
	<key>respectiveHistogram</key>
	<string>dismissobserver</string>
	<key>spineTag</key>
	<string>canProcessController</string>
</dict>
</plist>
