<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertCenter</key>
	<string>embedcoordinator</string>
	<key>mobileRotation</key>
	<string>canDecodeLabel</string>
	<key>splitterOpacity</key>
	<string>radioValue</string>
</dict>
</plist>
