<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastInteraction</key>
	<string>commonhandler</string>
	<key>materialTabBar</key>
	<string>subscriberfeedback</string>
	<key>normalresponseinteraction</key>
	<string>blocOrigin</string>
	<key>responseVelocity</key>
	<string>toolactionscale</string>
	<key>retainedDimension</key>
	<string>sharedSlider</string>
	<key>shouldprocesscollection</key>
	<string>queueName</string>
	<key>substantialConsumer</key>
	<string>shouldPaintSpecifier</string>
</dict>
</plist>
