<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopequivalent</key>
	<string>spritelocation</string>
	<key>emitterState</key>
	<string>remediationTop</string>
	<key>errorjobtransparency</key>
	<string>lockAlignment</string>
	<key>painterKind</key>
	<string>interactiveCache</string>
	<key>positionplatformkind</key>
	<string>allocatortempleoffset</string>
	<key>secondTitle</key>
	<string>listenershapedirection</string>
	<key>sustainableSlider</key>
	<string>adaptiveUtil</string>
</dict>
</plist>
