<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerkindtail</key>
	<string>interactiveQueue</string>
	<key>cubitvariablebottom</key>
	<string>radioJob</string>
	<key>sorterSpacing</key>
	<string>directlySymbol</string>
	<key>undertakeexception</key>
	<string>profileCompleter</string>
</dict>
</plist>
