<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDetail</key>
	<string>instructionBuffer</string>
	<key>autoIntegration</key>
	<string>integrationOpacity</string>
	<key>challengetransformer</key>
	<string>concreteAction</string>
	<key>deferredOffset</key>
	<string>futureleft</string>
	<key>explicitPresenter</key>
	<string>specifyDetail</string>
	<key>mobileMetrics</key>
	<string>keyDescription</string>
</dict>
</plist>
