<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customMovement</key>
	<string>shouldHandleCheckbox</string>
	<key>mediocreNotification</key>
	<string>featureCommand</string>
	<key>unaryKind</key>
	<string>canConnectResource</string>
</dict>
</plist>
