<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicRate</key>
	<string>pointObserver</string>
	<key>comprehensiveSegment</key>
	<string>ontooltap</string>
	<key>materialCosine</key>
	<string>resultinformation</string>
	<key>protectedTangent</key>
	<string>mediaOpacity</string>
	<key>shouldInitializeRichText</key>
	<string>storehandler</string>
</dict>
</plist>
