<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledProvider</key>
	<string>renderervelocity</string>
	<key>geometricService</key>
	<string>assetMode</string>
	<key>introspecttween</key>
	<string>materialAnalogy</string>
	<key>polyfillShade</key>
	<string>shearAsset</string>
	<key>restrictionValidation</key>
	<string>amortizationLocation</string>
	<key>sharedProtocol</key>
	<string>disposeTable</string>
	<key>shouldLayoutNavigator</key>
	<string>uniformEntity</string>
	<key>smartTouch</key>
	<string>timerDecorator</string>
	<key>subtleCard</key>
	<string>handleProtocol</string>
	<key>sustainableReliability</key>
	<string>shouldMountedChannels</string>
</dict>
</plist>
