<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerIndex</key>
	<string>ephemeralUtil</string>
	<key>criticalstorageformat</key>
	<string>flexibleFragments</string>
	<key>disparatescope</key>
	<string>yieldUnary</string>
	<key>multiInitiators</key>
	<string>analyzerForce</string>
	<key>onmonsterchanged</key>
	<string>ascentDensity</string>
	<key>shouldPresentModal</key>
	<string>signaturePressure</string>
</dict>
</plist>
