<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalNotification</key>
	<string>synchronousTrajectory</string>
	<key>difficultMenu</key>
	<string>advancedRepository</string>
	<key>semanticsleft</key>
	<string>mixinZone</string>
	<key>shouldPaintImage</key>
	<string>sustainabledata</string>
	<key>shouldResumeStack</key>
	<string>listenTextField</string>
</dict>
</plist>
