<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCluster</key>
	<string>serviceLocation</string>
	<key>logRotation</key>
	<string>strokeDepth</string>
	<key>notifyspecifier</key>
	<string>canBindSymbol</string>
	<key>radiusscale</key>
	<string>unmarshalVector</string>
	<key>shouldDisconnectSlider</key>
	<string>cursorresource</string>
	<key>shouldTransitionSample</key>
	<string>resultTension</string>
	<key>statelessGrayscale</key>
	<string>shouldpushscaffold</string>
</dict>
</plist>
