<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicModulus</key>
	<string>refreshTicker</string>
	<key>errormementocount</key>
	<string>queueVariable</string>
	<key>inactiveFactory</key>
	<string>minEqualization</string>
	<key>inactiveGrid</key>
	<string>gateMediator</string>
	<key>permissivePet</key>
	<string>zonerect</string>
	<key>resultagainstsingleton</key>
	<string>taxonomyTheme</string>
	<key>seamlessTime</key>
	<string>converterDuration</string>
	<key>sharedDispatcher</key>
	<string>arithmeticPhase</string>
	<key>shouldAttachNib</key>
	<string>subtlesubscriber</string>
	<key>toolInteraction</key>
	<string>shouldContinueTabBar</string>
</dict>
</plist>
