<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableAperture</key>
	<string>loopthroughvisitor</string>
	<key>futurevisitorcontrast</key>
	<string>elasticItem</string>
	<key>missedBuffer</key>
	<string>shouldAnimateStack</string>
	<key>previewHue</key>
	<string>beginnerBloc</string>
	<key>searcherForce</key>
	<string>canTrainMatrix</string>
	<key>standaloneExtension</key>
	<string>canDetachDelegate</string>
	<key>staticTimeline</key>
	<string>inflateDecoration</string>
	<key>stopplayback</key>
	<string>precisionmechanism</string>
	<key>tensorHash</key>
	<string>serializeCompletion</string>
</dict>
</plist>
