<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalFragments</key>
	<string>isolateappearance</string>
	<key>initiatorsKind</key>
	<string>clipAlignment</string>
	<key>modelcenter</key>
	<string>mediocreDimension</string>
	<key>sophisticatedKernel</key>
	<string>nativeContraction</string>
	<key>tentativeTension</key>
	<string>unarysplitter</string>
</dict>
</plist>
