<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralCard</key>
	<string>detachBitrate</string>
	<key>gridviewAlignment</key>
	<string>evaluateTopic</string>
	<key>shouldEmitInteger</key>
	<string>capacitiesresult</string>
	<key>staticaccessoryindex</key>
	<string>reflectSubscription</string>
</dict>
</plist>
