<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulemodule</key>
	<string>nextMethod</string>
	<key>disabledconstraint</key>
	<string>mountBox</string>
	<key>sorterStatus</key>
	<string>controllerVisitor</string>
	<key>titleuntilplatform</key>
	<string>mediumanalogy</string>
</dict>
</plist>
