<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinospeed</key>
	<string>tensorModule</string>
	<key>documentbesidestrategy</key>
	<string>canConnectLabel</string>
	<key>geometricScale</key>
	<string>storeEntity</string>
	<key>lastdata</key>
	<string>unmountCollection</string>
	<key>shouldCancelRow</key>
	<string>shouldtrainconvolution</string>
	<key>shouldFinishGradient</key>
	<string>operationFunction</string>
</dict>
</plist>
