<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateBehavior</key>
	<string>buildDescriptor</string>
	<key>creatorForce</key>
	<string>interactorInterpreter</string>
	<key>criticalScaffold</key>
	<string>canInflateMember</string>
	<key>declarativeCosine</key>
	<string>nativeeffect</string>
	<key>declarativetimertension</key>
	<string>receiverSaturation</string>
	<key>distinctionOffset</key>
	<string>unbindAspect</string>
	<key>interpolationSkewX</key>
	<string>emitterLeft</string>
	<key>multiplicationmodel</key>
	<string>statelessalignmenttransparency</string>
	<key>shouldRebuildBitrate</key>
	<string>operationStyle</string>
	<key>symmetricBox</key>
	<string>beginnerObject</string>
</dict>
</plist>
