<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creatorVelocity</key>
	<string>canStreamTextField</string>
	<key>dedicatedProjection</key>
	<string>shouldDetachProvider</string>
	<key>delicateTraversal</key>
	<string>canRouteMaster</string>
	<key>directlyShape</key>
	<string>diversifiedThroughput</string>
	<key>richtextflags</key>
	<string>originalGradient</string>
	<key>roleduringwork</key>
	<string>displayablemerger</string>
	<key>shouldRenderCard</key>
	<string>shouldPaintSubpixel</string>
</dict>
</plist>
