<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAnchor</key>
	<string>canInitializeBrush</string>
	<key>equalizationColor</key>
	<string>mountCompletion</string>
	<key>graphRight</key>
	<string>scalabilityRight</string>
	<key>radioSpeed</key>
	<string>momentumHead</string>
	<key>sensorPressure</key>
	<string>geometricHero</string>
	<key>soundSaturation</key>
	<string>shearintensity</string>
	<key>spriteSkewY</key>
	<string>benchmarkTween</string>
	<key>usedarithmetic</key>
	<string>routeragainsttask</string>
</dict>
</plist>
