<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creatortop</key>
	<string>canDispatchScroll</string>
	<key>cupertinoInitiative</key>
	<string>comprehensiveSplitter</string>
	<key>cursortolerance</key>
	<string>shouldUnbindSample</string>
	<key>fragmentbeyonddecorator</key>
	<string>declarativeSkirt</string>
	<key>mountedreference</key>
	<string>disclaimerAppearance</string>
	<key>primaryMaterial</key>
	<string>consultativeMend</string>
	<key>primaryhandler</key>
	<string>observestoryboard</string>
	<key>shouldTransitionNavigation</key>
	<string>checkLabel</string>
</dict>
</plist>
