<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerTransparency</key>
	<string>custompaintPlatform</string>
	<key>errorAlignment</key>
	<string>draggableSizedBox</string>
	<key>tappableBandwidth</key>
	<string>missedWorkflow</string>
</dict>
</plist>
