<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableamortization</key>
	<string>encapsulateFactory</string>
	<key>customizedSemantics</key>
	<string>pauseStream</string>
	<key>globalInfo</key>
	<string>symbolInteraction</string>
	<key>methodscale</key>
	<string>opaqueModule</string>
	<key>oldConvolution</key>
	<string>partitiontween</string>
	<key>restrictionfeedback</key>
	<string>shouldRouteMusic</string>
	<key>shouldBindCycle</key>
	<string>sinegroup</string>
	<key>shouldDispatchProjection</key>
	<string>shouldEmitComposition</string>
	<key>sophisticatedMargin</key>
	<string>specifyNorm</string>
</dict>
</plist>
