<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedResult</key>
	<string>signatureParameter</string>
	<key>deferredScenario</key>
	<string>kernelVisible</string>
	<key>textureatstate</key>
	<string>configurationShape</string>
</dict>
</plist>
