<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTint</key>
	<string>attachWidget</string>
	<key>particlelocation</key>
	<string>buildicon</string>
	<key>reductioninfo</key>
	<string>rapidsorter</string>
</dict>
</plist>
