<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorPressure</key>
	<string>popupSpacing</string>
	<key>dedicatedGram</key>
	<string>holdModel</string>
	<key>deferredDistinction</key>
	<string>canStopBitrate</string>
	<key>elasticgridviewmargin</key>
	<string>stopPromise</string>
	<key>inheritedScreen</key>
	<string>elasticTabBar</string>
	<key>interpolationLeft</key>
	<string>particlematerializer</string>
	<key>nibVisible</key>
	<string>utilprovision</string>
	<key>persistentCompleter</key>
	<string>spinephasecount</string>
	<key>shouldFinishAlpha</key>
	<string>seekZone</string>
</dict>
</plist>
