<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstCustomPaint</key>
	<string>modulusAlignment</string>
	<key>menuRotation</key>
	<string>shouldKeepPositioned</string>
	<key>shouldNotifyPlate</key>
	<string>newestDescent</string>
	<key>shouldUnmountBaseline</key>
	<string>geometricJoiner</string>
	<key>shouldUnmountedResource</key>
	<string>convolutionContext</string>
</dict>
</plist>
