<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodeimage</key>
	<string>canPrepareSensor</string>
	<key>imperativeRouter</key>
	<string>reflectResource</string>
	<key>oldBorder</key>
	<string>resumeStoryboard</string>
	<key>prismaticScroll</key>
	<string>strokeTint</string>
	<key>shouldPublishChallenge</key>
	<string>rectCenter</string>
	<key>singlePosition</key>
	<string>dynamicPlate</string>
	<key>uniformAxis</key>
	<string>menuIndex</string>
	<key>usedStamp</key>
	<string>previewProxy</string>
</dict>
</plist>
