<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedArchitecture</key>
	<string>pivotalAperture</string>
	<key>delicatenodeinteraction</key>
	<string>drawerOrigin</string>
	<key>observecheckbox</key>
	<string>certificateStage</string>
	<key>routeTheme</key>
	<string>initiatorsVariable</string>
	<key>selectedradio</key>
	<string>robustTopic</string>
	<key>sinkColor</key>
	<string>prismaticBatch</string>
</dict>
</plist>
