<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachethanscope</key>
	<string>detailCoord</string>
	<key>compositiontimer</key>
	<string>touchStructure</string>
	<key>cycletaxonomy</key>
	<string>shouldPresentClipper</string>
	<key>delicateAnimation</key>
	<string>protocolscopehead</string>
	<key>oldPageView</key>
	<string>responsiveAnimatedContainer</string>
	<key>paddingplatformmode</key>
	<string>concretepresenter</string>
	<key>repositoryresponse</key>
	<string>movebullet</string>
</dict>
</plist>
