<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionextensionshade</key>
	<string>shouldAttachChecklist</string>
	<key>exponentalongcomposite</key>
	<string>rowshade</string>
	<key>spotDelay</key>
	<string>channelrotation</string>
</dict>
</plist>
