<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertMargin</key>
	<string>concurrentCanvas</string>
	<key>greatAspectRatio</key>
	<string>canCacheProvider</string>
	<key>monstermodule</key>
	<string>primarycoordinatorpressure</string>
	<key>statefulsaturation</key>
	<string>beginnerarithmetic</string>
</dict>
</plist>
