<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerprototypecenter</key>
	<string>seamlessInterpolation</string>
	<key>gridthroughscope</key>
	<string>usecasecompositedensity</string>
	<key>shouldDisposeWidget</key>
	<string>transitionskewx</string>
	<key>spinedepth</key>
	<string>infotype</string>
</dict>
</plist>
