<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventvariableskewx</key>
	<string>lostFilter</string>
	<key>extendtabview</key>
	<string>flexibleprotocol</string>
	<key>fixedResult</key>
	<string>typicalRadius</string>
	<key>permissiveMaterializer</key>
	<string>efficiencyResponse</string>
	<key>regulateisolate</key>
	<string>textfieldprototypeflags</string>
	<key>revisitchannels</key>
	<string>playticker</string>
	<key>volumeOpacity</key>
	<string>defaultProject</string>
</dict>
</plist>
