<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseCursor</key>
	<string>sharedcurve</string>
	<key>elasticityOrigin</key>
	<string>copyFuture</string>
	<key>firstOperation</key>
	<string>missedExpanded</string>
	<key>lossPosition</key>
	<string>rapidconstraintvelocity</string>
	<key>pivotalExpanded</key>
	<string>statelesssincevisitor</string>
	<key>presentstream</key>
	<string>ignoredPublisher</string>
	<key>requiredPicker</key>
	<string>scalabilitydirection</string>
	<key>shouldemitspine</key>
	<string>integrityIndex</string>
	<key>signaturecontextposition</key>
	<string>rapidcomposition</string>
	<key>titleOrientation</key>
	<string>layerJob</string>
</dict>
</plist>
