<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedStream</key>
	<string>compositionalFuture</string>
	<key>currentRect</key>
	<string>hyperbolicScenario</string>
	<key>seamlessSubscriber</key>
	<string>directlyTexture</string>
	<key>shouldHandleObserver</key>
	<string>spineLeft</string>
	<key>webAnalogy</key>
	<string>canNotifyAlert</string>
</dict>
</plist>
