<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCupertino</key>
	<string>channeltaxonomy</string>
	<key>coordinatorcount</key>
	<string>shouldValidateCube</string>
	<key>currentMaterializer</key>
	<string>tappableScope</string>
	<key>directMetadata</key>
	<string>multiGrayscale</string>
	<key>hierarchicalalert</key>
	<string>unsortedProvider</string>
	<key>inheritedClipper</key>
	<string>composableEqualization</string>
	<key>normalTolerance</key>
	<string>shouldDispatchMonster</string>
	<key>reusableListView</key>
	<string>drawAllocator</string>
	<key>sizedboxscale</key>
	<string>quitAsync</string>
	<key>smartOperation</key>
	<string>kerneluntilvariable</string>
</dict>
</plist>
