<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customDecoration</key>
	<string>masterOpacity</string>
	<key>declarativeHandler</key>
	<string>unmountedPadding</string>
	<key>disparateCycle</key>
	<string>appendGraph</string>
	<key>inactiveRemainder</key>
	<string>groupAlignment</string>
	<key>keyScale</key>
	<string>notifierStatus</string>
	<key>substantialAsync</key>
	<string>animaterect</string>
	<key>unsortedPicker</key>
	<string>shouldFinishBitrate</string>
</dict>
</plist>
