<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactionDuration</key>
	<string>discardedLifecycle</string>
	<key>respectiveExponent</key>
	<string>shouldSerializeTool</string>
	<key>semanticbitrate</key>
	<string>imperativeEffect</string>
	<key>shouldreplacegradient</key>
	<string>transformDescriptor</string>
</dict>
</plist>
