<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstframe</key>
	<string>progressbarschema</string>
	<key>gemTop</key>
	<string>shouldPrepareSkin</string>
	<key>invisibleMechanism</key>
	<string>scrollTop</string>
	<key>shouldInflateBox</key>
	<string>globalEquipment</string>
	<key>shouldstartmodulus</key>
	<string>threadalignment</string>
	<key>sortedProvision</key>
	<string>canTrainFragment</string>
	<key>spritethanscope</key>
	<string>yieldShader</string>
	<key>typicalReceiver</key>
	<string>robuststep</string>
</dict>
</plist>
