<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSink</key>
	<string>reactiveStamp</string>
	<key>reusableReplica</key>
	<string>responsefrequency</string>
	<key>shouldHandleSine</key>
	<string>entitybynumber</string>
	<key>smartsignature</key>
	<string>shouldstreamcube</string>
	<key>sortedChallenge</key>
	<string>benchmarkModel</string>
</dict>
</plist>
