<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPoint</key>
	<string>keyColumn</string>
	<key>gridtop</key>
	<string>layoutbesidescope</string>
	<key>menutheme</key>
	<string>sizedboxvertex</string>
	<key>nodeneardecorator</key>
	<string>geometricDrawer</string>
	<key>primarynotifiertag</key>
	<string>cosineaudio</string>
</dict>
</plist>
