<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyFrequency</key>
	<string>shouldSubscribeAspect</string>
	<key>columnLocation</key>
	<string>layoutMobile</string>
	<key>deferredConfiguration</key>
	<string>materialAnalogy</string>
	<key>extensionvisibility</key>
	<string>optionFramework</string>
	<key>loadentity</key>
	<string>shouldPublishAppBar</string>
	<key>mapperStyle</key>
	<string>advancedResolver</string>
	<key>shouldListenCurve</key>
	<string>joinerForce</string>
	<key>videoPadding</key>
	<string>instructionTheme</string>
</dict>
</plist>
