<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveActivity</key>
	<string>deployContainer</string>
	<key>mediocreMomentum</key>
	<string>cupertinoBloc</string>
	<key>opaqueSlash</key>
	<string>canContinueTool</string>
	<key>shouldPersistButton</key>
	<string>drawerNumber</string>
	<key>shouldnavigategesturedetector</key>
	<string>streamDescriptor</string>
	<key>staticWrapper</key>
	<string>reactiveTraversal</string>
	<key>sustainabledisclaimer</key>
	<string>yieldBox</string>
	<key>symmetricpublisher</key>
	<string>annotateNavigator</string>
</dict>
</plist>
