<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentdecoration</key>
	<string>storagelayerdelay</string>
	<key>bulletfacadestatus</key>
	<string>clippertop</string>
	<key>compositionaldistinction</key>
	<string>quaternionContrast</string>
	<key>disposenotification</key>
	<string>endEqualization</string>
	<key>draggableRecursion</key>
	<string>plateMemento</string>
	<key>hyperbolicgroup</key>
	<string>layerPhase</string>
	<key>resultthanbridge</key>
	<string>canPaintGram</string>
	<key>servicewithinterpreter</key>
	<string>prismaticChooser</string>
</dict>
</plist>
