<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentpublisher</key>
	<string>criticalElasticity</string>
	<key>directlyappbarhead</key>
	<string>cosineTask</string>
	<key>endisolate</key>
	<string>canFinishText</string>
	<key>ephemeralIntegration</key>
	<string>shouldSetStateSlash</string>
	<key>hasDropdownButton</key>
	<string>fragmentVar</string>
	<key>loaderCount</key>
	<string>canDeserializeBehavior</string>
	<key>smartShape</key>
	<string>showNib</string>
	<key>typicalMovement</key>
	<string>intermediateCharacteristic</string>
	<key>visibleCoordinator</key>
	<string>shouldConnectNavigation</string>
</dict>
</plist>
