<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combinerright</key>
	<string>accordionchart</string>
	<key>deferredInteractor</key>
	<string>handlerow</string>
	<key>denseProgressBar</key>
	<string>usedroute</string>
	<key>inactiveSine</key>
	<string>hardProvider</string>
	<key>originalNavigator</key>
	<string>substantialNavigation</string>
	<key>pivotalSensor</key>
	<string>nativeCompleter</string>
	<key>replicatesample</key>
	<string>pendingButton</string>
	<key>retainedObject</key>
	<string>displayablePopup</string>
	<key>shouldStreamDelegate</key>
	<string>canPauseTool</string>
	<key>titlescalability</key>
	<string>activityTag</string>
</dict>
</plist>
