<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentDetail</key>
	<string>createHandler</string>
	<key>desktopFragments</key>
	<string>shouldPushScreen</string>
	<key>granularConverter</key>
	<string>opaqueMargin</string>
	<key>inactiveInstruction</key>
	<string>diffableCubit</string>
	<key>publicAction</key>
	<string>swiftInset</string>
	<key>synchronizealpha</key>
	<string>callbackProxy</string>
	<key>throughputvisible</key>
	<string>canTransitionScale</string>
	<key>widgetlocation</key>
	<string>calculateState</string>
</dict>
</plist>
