<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveScalability</key>
	<string>multiplyAnimation</string>
	<key>easyMusic</key>
	<string>replacealpha</string>
	<key>equivalentformat</key>
	<string>cursorTheme</string>
	<key>hierarchicalvolume</key>
	<string>injectioncount</string>
	<key>intermediateFrame</key>
	<string>uniformConvolution</string>
	<key>pagerInset</key>
	<string>signSize</string>
	<key>replicaterepository</key>
	<string>optionMargin</string>
	<key>shouldDisconnectAxis</key>
	<string>shouldHandleImage</string>
	<key>sortedMaterial</key>
	<string>startDescriptor</string>
	<key>tasklevelrotation</key>
	<string>subtleOffset</string>
</dict>
</plist>
