<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smartMonster</key>
	<string>shouldFormatBase</string>
	<key>sustainableusage</key>
	<string>gramAction</string>
	<key>titledelivery</key>
	<string>processmargin</string>
</dict>
</plist>
