<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindtexture</key>
	<string>canPauseProvider</string>
	<key>elasticEquipment</key>
	<string>expandedRotation</string>
	<key>entropyVisibility</key>
	<string>subsequentEvolution</string>
	<key>expandedamongflyweight</key>
	<string>canProcessPoint</string>
	<key>momentumpatternformat</key>
	<string>draggableChannel</string>
	<key>protectedTransition</key>
	<string>checkboxdelay</string>
	<key>providerScale</key>
	<string>slashBorder</string>
	<key>shouldCancelCupertino</key>
	<string>modulusOpacity</string>
	<key>shouldUnmountedCollection</key>
	<string>slidertag</string>
	<key>soundType</key>
	<string>shouldInitializePriority</string>
</dict>
</plist>
