<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAllocator</key>
	<string>hardCubit</string>
	<key>currentSample</key>
	<string>sorterPressure</string>
	<key>elasticscheduler</key>
	<string>handleeffect</string>
	<key>equipmentDistance</key>
	<string>aspectForm</string>
	<key>lastResource</key>
	<string>interactiveNotification</string>
	<key>multiplicationoutsidework</key>
	<string>widgetpressure</string>
	<key>routeMomentum</key>
	<string>shouldNotifyGem</string>
	<key>smartCharacter</key>
	<string>oldLabel</string>
	<key>storeformcontrast</key>
	<string>setupBloc</string>
	<key>triggerBottom</key>
	<string>storagetierforce</string>
</dict>
</plist>
