<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteprofile</key>
	<string>initiatorsBound</string>
	<key>containerlifecycle</key>
	<string>skirtScope</string>
	<key>coordinatorTension</key>
	<string>uniformTool</string>
	<key>explicitCheckbox</key>
	<string>oncontractiontap</string>
	<key>gridposition</key>
	<string>disposeShader</string>
	<key>labellinker</key>
	<string>resulthue</string>
	<key>pointnearmethod</key>
	<string>unlockDecoration</string>
	<key>shouldMountSizedBox</key>
	<string>canBuildRow</string>
	<key>sortedTernary</key>
	<string>accessibleTriangles</string>
	<key>toleranceValidation</key>
	<string>newestRecursion</string>
</dict>
</plist>
