<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableBoxShadow</key>
	<string>diversifiedGroup</string>
	<key>firstmaterial</key>
	<string>drawerRate</string>
	<key>lostCosine</key>
	<string>mobileQuaternion</string>
	<key>permissiveVector</key>
	<string>promiseFrequency</string>
	<key>positioncapacity</key>
	<string>sophisticatedBinary</string>
	<key>selectedDescriptor</key>
	<string>cardversuspattern</string>
	<key>semanticsposition</key>
	<string>resourcePadding</string>
	<key>shouldTransformMaterial</key>
	<string>emitRadio</string>
</dict>
</plist>
