<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblehash</key>
	<string>augmentQueue</string>
	<key>canvasMomentum</key>
	<string>decorationawaytemple</string>
	<key>collectionhash</key>
	<string>visibleFragment</string>
	<key>directlyStamp</key>
	<string>cosineWork</string>
	<key>ignoredTolerance</key>
	<string>cacheObserver</string>
	<key>mainRow</key>
	<string>scaffoldInset</string>
	<key>parseentropy</key>
	<string>referenceWork</string>
	<key>segueduration</key>
	<string>canSkipStateless</string>
	<key>shouldInitializeBoxShadow</key>
	<string>resilientGrid</string>
	<key>synchronousSlash</key>
	<string>subtleBoxShadow</string>
</dict>
</plist>
