<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheFormat</key>
	<string>canPresentCard</string>
	<key>checklistalongenvironment</key>
	<string>capacitiesTemple</string>
	<key>differentiatepriority</key>
	<string>flexibleBitrate</string>
	<key>intuitiveRemainder</key>
	<string>temporaryscale</string>
	<key>lastConnector</key>
	<string>materialMechanism</string>
	<key>shouldBindBullet</key>
	<string>topicVariable</string>
	<key>shouldStopPromise</key>
	<string>canSkipClipper</string>
	<key>spinescopebottom</key>
	<string>ontabviewchanged</string>
	<key>uniformSine</key>
	<string>shouldParseEffect</string>
</dict>
</plist>
