<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateLog</key>
	<string>cacheSkin</string>
	<key>desktopconstraint</key>
	<string>relationalUtil</string>
	<key>durationparamspeed</key>
	<string>bindmonster</string>
	<key>easytweak</key>
	<string>equipmentvarcontrast</string>
	<key>largeRadio</key>
	<string>consultativeJoiner</string>
	<key>modulusPosition</key>
	<string>singleContainer</string>
	<key>onshaderchanged</key>
	<string>hierarchicalCupertino</string>
	<key>shouldBuildMobile</key>
	<string>shouldTransformModulus</string>
	<key>shouldNotifyMedia</key>
	<string>shouldTrainAccessory</string>
	<key>shouldPersistWorkflow</key>
	<string>disposestateful</string>
</dict>
</plist>
