<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerhead</key>
	<string>localArchitecture</string>
	<key>backwardListener</key>
	<string>directlyOffset</string>
	<key>diversifiedAscent</key>
	<string>injectMethod</string>
	<key>immediateShape</key>
	<string>completionKind</string>
	<key>radioname</key>
	<string>compositionalPopup</string>
	<key>routephasebottom</key>
	<string>pauseLabel</string>
	<key>shouldRebuildSymbol</key>
	<string>enabledException</string>
</dict>
</plist>
