<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerdocument</key>
	<string>agileSine</string>
	<key>menuName</key>
	<string>mediocreInformation</string>
	<key>projectionDistance</key>
	<string>priorDelegate</string>
	<key>searchplayback</key>
	<string>shouldShowCapacities</string>
	<key>statelessHead</key>
	<string>granularWorkflow</string>
</dict>
</plist>
