<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descentInterval</key>
	<string>completedBaseline</string>
	<key>explicitMediaQuery</key>
	<string>shouldPushBuilder</string>
	<key>fusedData</key>
	<string>triggerDuration</string>
	<key>hascontraction</key>
	<string>immutablePermutation</string>
	<key>immediatestepopacity</key>
	<string>arithmeticArithmetic</string>
	<key>inheritedVertex</key>
	<string>dropdownbuttonoperationdelay</string>
	<key>mediumCreator</key>
	<string>staticInteraction</string>
	<key>publicCatalyst</key>
	<string>listenTask</string>
	<key>setstateexponent</key>
	<string>emitteralignment</string>
	<key>smallGestureDetector</key>
	<string>containerFlyweight</string>
</dict>
</plist>
