<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticresponserotation</key>
	<string>optimizeAllocator</string>
	<key>associatedRoute</key>
	<string>singleSizedBox</string>
	<key>bindtangent</key>
	<string>memberJob</string>
	<key>componentSize</key>
	<string>canRestartCycle</string>
	<key>disclaimerIndex</key>
	<string>clipEntity</string>
	<key>permanentCupertino</key>
	<string>undertakenavigator</string>
	<key>rectangleStatus</key>
	<string>capacitiesinteraction</string>
	<key>subsequentgestureorigin</key>
	<string>locateLayer</string>
</dict>
</plist>
