<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculatedelegate</key>
	<string>elasticitySkewY</string>
	<key>comprehensiveImage</key>
	<string>opaqueThreshold</string>
	<key>mainCertificate</key>
	<string>basicMusic</string>
	<key>oldDocument</key>
	<string>metadataDuration</string>
	<key>robustBatch</key>
	<string>invokeError</string>
	<key>robustEntropy</key>
	<string>tentativeLeft</string>
	<key>semanticTaxonomy</key>
	<string>relationalRestriction</string>
	<key>synchronoustext</key>
	<string>taskdetector</string>
	<key>tentativeFlags</key>
	<string>undertakeUseCase</string>
</dict>
</plist>
