<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousObject</key>
	<string>canUnmountAnimatedContainer</string>
	<key>comprehensiveTask</key>
	<string>canAttachMaster</string>
	<key>grainpatternvelocity</key>
	<string>limitAnimation</string>
	<key>initializestream</key>
	<string>smalldescription</string>
	<key>interactortempledelay</key>
	<string>smallsliderhead</string>
	<key>publisherTint</key>
	<string>precisionInterpreter</string>
	<key>reusableTimer</key>
	<string>formatVariant</string>
	<key>usedAsync</key>
	<string>activatedCharacteristic</string>
</dict>
</plist>
