<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretePadding</key>
	<string>shouldRenderIndicator</string>
	<key>interactorevolution</key>
	<string>customizedText</string>
	<key>lazyZone</key>
	<string>activitybyaction</string>
	<key>modulusplatformname</key>
	<string>composableItem</string>
	<key>playbacktag</key>
	<string>trainheap</string>
	<key>semanticcolor</key>
	<string>mountSubpixel</string>
	<key>substantialTask</key>
	<string>backwardReduction</string>
</dict>
</plist>
